In [223]:
import pandas as pd
import os
import numpy as np

In [224]:
#Import data
csv_path = "listings_2018_DataIssueCLean_15012021_JS.csv"
ListingsClean = pd.read_csv(csv_path, encoding="utf  -8")
ListingsClean.head()
#As per google - the messaged recieved indicates mixed datatypes in columns.
#You can set and action to turn this off - but I have fixed datatypes in this notebook

/Users/J/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,scrape_id,last_scraped,name,summary,neighborhood_overview,transit,access,interaction,host_id,...,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,9835,2.020000e+13,7/12/18,Beautiful Room & House,NaN,Very safe! Family oriented. Older age group.,"YES ! The bus (305,309) is exactly two blocks ...","Kitchen, backyard, upstairs lounge. We'd like ...",As much as the guest wants.,33057,...,24/5/11,12/9/15,90.0,9.0,10.0,10.0,10.0,9.0,9.0,0.04
1,10803,2.020000e+13,7/12/18,Room in Cool Deco Apartment in Brunswick,A large air conditioned room with queen spring...,This hip area is a crossroads between two grea...,Easy transport options - the tram is right out...,Wifi. Bathroom and kitchen is shared but I mos...,I'm home mostly but sometimes I may be working...,38901,...,12/1/13,26/11/18,87.0,9.0,8.0,9.0,9.0,9.0,9.0,1.50
2,12936,2.020000e+13,7/12/18,St Kilda 1BR APT+BEACHSIDE+VIEWS+PARKING+WIFI+AC,RIGHT IN THE HEART OF ST KILDA! It doesn't get...,A stay at our apartment means you can enjoy so...,Our apartment is located within walking distan...,Guests have exclusive and private access to th...,We don't always get to meet all our guests in ...,50121,...,4/8/10,7/11/18,94.0,9.0,10.0,9.0,9.0,9.0,9.0,0.15
3,15246,2.020000e+13,7/12/18,Large private room-close to city,"Comfortable, relaxed house, a home away from ...","This is a great neighbourhood â€“ it is quiet,...",Public transport is super convenient with a ch...,You are welcome to make yourself at home in th...,Guest's privacy will be respected at all times...,59786,...,31/12/10,15/5/17,94.0,9.0,9.0,10.0,10.0,9.0,9.0,0.30
4,16760,2.020000e+13,7/12/18,Melbourne BnB near City & Sports,NaN,NaN,NaN,NaN,NaN,65090,...,10/12/11,22/11/18,90.0,9.0,9.0,10.0,10.0,10.0,9.0,0.74

In [225]:
#view columns
print(ListingsClean.columns)

Index(['id', 'scrape_id', 'last_scraped', 'name', 'summary',
       'neighborhood_overview', 'transit', 'access', 'interaction', 'host_id',
       'host_name', 'host_since', 'host_location', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'street', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'city',
       'state', 'zipcode', 'market', 'smart_location', 'country_code',
       'country', 'latitude', 'longitude', 'is_location_exact',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included',
       'extra_people', 'minimum_nights', 'maximum_nights', 'calendar_updated',
       'has_availability', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'reviews_per_month'],
      dtype='object')

In [226]:
#I think we can drop these columns as irrelevant data: •D - I Listing profiles 
ListingCleanDrop1 = ListingsClean.drop(["name", "summary","neighborhood_overview","transit","access","interaction"], axis = 1)
ListingCleanDrop1.head()

,id,scrape_id,last_scraped,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,...,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,9835,2.020000e+13,7/12/18,33057,Manju,21/8/09,AU,a few days or more,0%,NaN,...,24/5/11,12/9/15,90.0,9.0,10.0,10.0,10.0,9.0,9.0,0.04
1,10803,2.020000e+13,7/12/18,38901,Lindsay,16/9/09,"Melbourne, Victoria, Australia",NaN,NaN,NaN,...,12/1/13,26/11/18,87.0,9.0,8.0,9.0,9.0,9.0,9.0,1.50
2,12936,2.020000e+13,7/12/18,50121,Frank & Vince,31/10/09,"Melbourne, Victoria, Australia",within an hour,100%,NaN,...,4/8/10,7/11/18,94.0,9.0,10.0,9.0,9.0,9.0,9.0,0.15
3,15246,2.020000e+13,7/12/18,59786,Eleni,3/12/09,"Melbourne, Victoria, Australia",NaN,NaN,NaN,...,31/12/10,15/5/17,94.0,9.0,9.0,10.0,10.0,9.0,9.0,0.30
4,16760,2.020000e+13,7/12/18,65090,Colin,22/12/09,"Saint Kilda East, Victoria, Australia",within an hour,100%,NaN,...,10/12/11,22/11/18,90.0,9.0,9.0,10.0,10.0,10.0,9.0,0.74

In [227]:
#I think we can drop these columns as irrelevant data: •L - P, T some host profiles
    #note removing host_listings_count as there is a host_total_listings_count in data
    #note neighbourhood removed as neighbourhood cleansed is correct data and blanks filled in.  and neighbourhood_group_cleansed is empty
    #square_feet mostly empty
ListingCleanDrop2 = ListingCleanDrop1.drop(['host_since', 'host_location', 
                                            'host_response_time', 'host_response_rate', 'host_acceptance_rate', 
                                            "host_listings_count", "host_neighbourhood", "neighbourhood", 
                                            "neighbourhood_group_cleansed", "market", 
                                            "is_location_exact", "calendar_updated",
                                           "first_review", "last_review", "square_feet"], axis = 1)
ListingCleanDrop2.head()

,id,scrape_id,last_scraped,host_id,host_name,host_is_superhost,host_total_listings_count,street,neighbourhood_cleansed,city,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,9835,2.020000e+13,7/12/18,33057,Manju,f,1.0,"Bulleen, VIC, Australia",Manningham,Bulleen,...,365,4,90.0,9.0,10.0,10.0,10.0,9.0,9.0,0.04
1,10803,2.020000e+13,7/12/18,38901,Lindsay,f,1.0,"Brunswick East, VIC, Australia",Moreland,Brunswick East,...,213,108,87.0,9.0,8.0,9.0,9.0,9.0,9.0,1.50
2,12936,2.020000e+13,7/12/18,50121,Frank & Vince,t,17.0,"St Kilda, VIC, Australia",Port Phillip,St Kilda,...,326,15,94.0,9.0,10.0,9.0,9.0,9.0,9.0,0.15
3,15246,2.020000e+13,7/12/18,59786,Eleni,f,3.0,"Thornbury, VIC, Australia",Darebin,Thornbury,...,0,29,94.0,9.0,9.0,10.0,10.0,9.0,9.0,0.30
4,16760,2.020000e+13,7/12/18,65090,Colin,f,1.0,"St Kilda East, VIC, Australia",Port Phillip,St Kilda East,...,328,63,90.0,9.0,9.0,10.0,10.0,10.0,9.0,0.74

In [228]:
#check columns
ListingCleanDrop2.columns

Index(['id', 'scrape_id', 'last_scraped', 'host_id', 'host_name',
       'host_is_superhost', 'host_total_listings_count', 'street',
       'neighbourhood_cleansed', 'city', 'state', 'zipcode', 'smart_location',
       'country_code', 'country', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds',
       'bed_type', 'amenities', 'price', 'weekly_price', 'monthly_price',
       'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people',
       'minimum_nights', 'maximum_nights', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'reviews_per_month'],
      dtype='object')

In [229]:
#Check data info for null fields
ListingCleanDrop2Info = ListingCleanDrop2.info()
ListingCleanDrop2Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22895 entries, 0 to 22894
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           22895 non-null  int64
 1   scrape_id                    22895 non-null  float64
 2   last_scraped                 22895 non-null  object
 3   host_id                      22895 non-null  int64
 4   host_name                    22892 non-null  object
 5   host_is_superhost            22892 non-null  object
 6   host_total_listings_count    22892 non-null  float64
 7   street                       22895 non-null  object
 8   neighbourhood_cleansed       22895 non-null  object
 9   city                         22872 non-null  object
 10  state                        22834 non-null  object
 11  zipcode                      22753 non-null  object
 12  smart_location               22895 non-null  object
 13  country_code                 22895 non-null  object
 14  country                      22895 non-null  object
 15  latitude                     22895 non-null  float64
 16  longitude                    22895 non-null  float64
 17  property_type                22895 non-null  object
 18  room_type                    22895 non-null  object
 19  accommodates                 22895 non-null  int64
 20  bathrooms                    22878 non-null  float64
 21  bedrooms                     22890 non-null  float64
 22  beds                         22861 non-null  float64
 23  bed_type                     22895 non-null  object
 24  amenities                    22895 non-null  object
 25  price                        22895 non-null  object
 26  weekly_price                 2524 non-null   object
 27  monthly_price                1891 non-null   object
 28  security_deposit             15401 non-null  object
 29  cleaning_fee                 17249 non-null  object
 30  guests_included              22895 non-null  int64
 31  extra_people                 22895 non-null  object
 32  minimum_nights               22895 non-null  int64
 33  maximum_nights               22895 non-null  int64
 34  has_availability             22895 non-null  object
 35  availability_30              22895 non-null  int64
 36  availability_60              22895 non-null  int64
 37  availability_90              22895 non-null  int64
 38  availability_365             22895 non-null  int64
 39  number_of_reviews            22895 non-null  int64
 40  review_scores_rating         17189 non-null  float64
 41  review_scores_accuracy       17175 non-null  float64
 42  review_scores_cleanliness    17182 non-null  float64
 43  review_scores_checkin        17161 non-null  float64
 44  review_scores_communication  17177 non-null  float64
 45  review_scores_location       17162 non-null  float64
 46  review_scores_value          17160 non-null  float64
 47  reviews_per_month            17653 non-null  float64
dtypes: float64(15), int64(11), object(22)
memory usage: 8.4+ MB

In [230]:
#Checking to see an eaxmple of a null field
ListingCleanDrop2[ListingCleanDrop2.id == 6147642]

,id,scrape_id,last_scraped,host_id,host_name,host_is_superhost,host_total_listings_count,street,neighbourhood_cleansed,city,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
2248,6147642,2.020000e+13,7/12/18,31891911,NaN,NaN,NaN,"Southbank, VIC, Australia",Melbourne,Southbank,...,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.07

In [231]:
#Checking to see an eaxmple of a null field
ListingCleanDrop2[ListingCleanDrop2.id == 15000293]

,id,scrape_id,last_scraped,host_id,host_name,host_is_superhost,host_total_listings_count,street,neighbourhood_cleansed,city,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
6957,15000293,2.020000e+13,7/12/18,50032978,NaN,NaN,NaN,"Kew, VIC, Australia",Boroondara,Kew,...,309,30,97.0,10.0,9.0,10.0,10.0,10.0,10.0,1.15

In [232]:
#Checking to see an eaxmple of a null field
ListingCleanDrop2[ListingCleanDrop2.id == 25766554]

,id,scrape_id,last_scraped,host_id,host_name,host_is_superhost,host_total_listings_count,street,neighbourhood_cleansed,city,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
17765,25766554,2.020000e+13,7/12/18,193648165,NaN,NaN,NaN,"Beaumaris, VIC, Australia",Bayside,Beaumaris,...,88,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25

In [233]:
#TEST### - Fill NaN values for hostname with relevant value
ListingCleanDrop2['host_name'] = ListingCleanDrop2['host_name'].fillna("Missing")
#Check if filled the column
ListingCleanDrop2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22895 entries, 0 to 22894
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           22895 non-null  int64
 1   scrape_id                    22895 non-null  float64
 2   last_scraped                 22895 non-null  object
 3   host_id                      22895 non-null  int64
 4   host_name                    22895 non-null  object
 5   host_is_superhost            22892 non-null  object
 6   host_total_listings_count    22892 non-null  float64
 7   street                       22895 non-null  object
 8   neighbourhood_cleansed       22895 non-null  object
 9   city                         22872 non-null  object
 10  state                        22834 non-null  object
 11  zipcode                      22753 non-null  object
 12  smart_location               22895 non-null  object
 13  country_code                 22895 non-null  object
 14  country                      22895 non-null  object
 15  latitude                     22895 non-null  float64
 16  longitude                    22895 non-null  float64
 17  property_type                22895 non-null  object
 18  room_type                    22895 non-null  object
 19  accommodates                 22895 non-null  int64
 20  bathrooms                    22878 non-null  float64
 21  bedrooms                     22890 non-null  float64
 22  beds                         22861 non-null  float64
 23  bed_type                     22895 non-null  object
 24  amenities                    22895 non-null  object
 25  price                        22895 non-null  object
 26  weekly_price                 2524 non-null   object
 27  monthly_price                1891 non-null   object
 28  security_deposit             15401 non-null  object
 29  cleaning_fee                 17249 non-null  object
 30  guests_included              22895 non-null  int64
 31  extra_people                 22895 non-null  object
 32  minimum_nights               22895 non-null  int64
 33  maximum_nights               22895 non-null  int64
 34  has_availability             22895 non-null  object
 35  availability_30              22895 non-null  int64
 36  availability_60              22895 non-null  int64
 37  availability_90              22895 non-null  int64
 38  availability_365             22895 non-null  int64
 39  number_of_reviews            22895 non-null  int64
 40  review_scores_rating         17189 non-null  float64
 41  review_scores_accuracy       17175 non-null  float64
 42  review_scores_cleanliness    17182 non-null  float64
 43  review_scores_checkin        17161 non-null  float64
 44  review_scores_communication  17177 non-null  float64
 45  review_scores_location       17162 non-null  float64
 46  review_scores_value          17160 non-null  float64
 47  reviews_per_month            17653 non-null  float64
dtypes: float64(15), int64(11), object(22)
memory usage: 8.4+ MB

In [234]:
#Checking to see if null field is now says "Missing" is host name
ListingCleanDrop2[ListingCleanDrop2.id == 6147642]

,id,scrape_id,last_scraped,host_id,host_name,host_is_superhost,host_total_listings_count,street,neighbourhood_cleansed,city,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
2248,6147642,2.020000e+13,7/12/18,31891911,Missing,NaN,NaN,"Southbank, VIC, Australia",Melbourne,Southbank,...,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.07

In [235]:
#Actully need to drop columns that are completely empty first
ListingCleanDrop3 = ListingCleanDrop2.dropna(how='all', axis='columns')
ListingCleanDrop3

,id,scrape_id,last_scraped,host_id,host_name,host_is_superhost,host_total_listings_count,street,neighbourhood_cleansed,city,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,9835,2.020000e+13,7/12/18,33057,Manju,f,1.0,"Bulleen, VIC, Australia",Manningham,Bulleen,...,365,4,90.0,9.0,10.0,10.0,10.0,9.0,9.0,0.04
1,10803,2.020000e+13,7/12/18,38901,Lindsay,f,1.0,"Brunswick East, VIC, Australia",Moreland,Brunswick East,...,213,108,87.0,9.0,8.0,9.0,9.0,9.0,9.0,1.50
2,12936,2.020000e+13,7/12/18,50121,Frank & Vince,t,17.0,"St Kilda, VIC, Australia",Port Phillip,St Kilda,...,326,15,94.0,9.0,10.0,9.0,9.0,9.0,9.0,0.15
3,15246,2.020000e+13,7/12/18,59786,Eleni,f,3.0,"Thornbury, VIC, Australia",Darebin,Thornbury,...,0,29,94.0,9.0,9.0,10.0,10.0,9.0,9.0,0.30
4,16760,2.020000e+13,7/12/18,65090,Colin,f,1.0,"St Kilda East, VIC, Australia",Port Phillip,St Kilda East,...,328,63,90.0,9.0,9.0,10.0,10.0,10.0,9.0,0.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22890,30592332,2.020000e+13,7/12/18,229206629,Yolanda,f,1.0,"Carlton, VIC, Australia",Melbourne,Carlton,...,82,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22891,30592345,2.020000e+13,7/12/18,150660631,Mary And Lizz,f,2.0,"Melton South, VIC, Australia",Melton,Melton South,...,365,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22892,30592362,2.020000e+13,7/12/18,130394565,ç³,f,1.0,"Glen Waverley, VIC, Australia",Monash,Glen Waverley,...,15,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22893,30592590,2.020000e+13,7/12/18,22630928,Karin,f,17.0,"Southbank, VIC, Australia",Melbourne,Southbank,...,349,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22894,30593623,2.020000e+13,7/12/18,38305445,Nica,f,1.0,"Carlton, VIC, Australia",Melbourne,Carlton,...,68,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [236]:
#Drop rows with at least one empty value
ListingCleanDrop4 = ListingCleanDrop3.dropna()
len(ListingCleanDrop4)

#ISSUE*** - results in very few rows - DO NOT USE ListingCleanDrop4

1119

In [237]:
# need to check data type in each column to assess how to handle null
    #(realised later that I could have run dtype command but actually looked at each column in csv)
    #Print columns with at least one empty value]
    #https://www.geeksforgeeks.org/working-with-missing-data-in-pandas/
    #https://stackoverflow.com/questions/43424199/display-rows-with-one-or-more-nan-values-in-pandas-dataframe
ListingCleanDrop3Missing = ListingCleanDrop3[ListingCleanDrop3.isna().any(axis=1)]

#Print column heading to then check how mimssing data from that column needs to be dealt with
ListingCleanDrop3Missing.columns

Index(['id', 'scrape_id', 'last_scraped', 'host_id', 'host_name',
       'host_is_superhost', 'host_total_listings_count', 'street',
       'neighbourhood_cleansed', 'city', 'state', 'zipcode', 'smart_location',
       'country_code', 'country', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds',
       'bed_type', 'amenities', 'price', 'weekly_price', 'monthly_price',
       'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people',
       'minimum_nights', 'maximum_nights', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'reviews_per_month'],
      dtype='object')

In [238]:
#Noticed ListingCleanDrop3[property_type] has more unique values that previously discuss. Pass this list on to Raph who is dropping out os scope data
ListingCleanDrop3.property_type.unique()

array(['House', 'Apartment', 'Loft', 'Townhouse', 'Hotel', 'Guesthouse',
       'Guest suite', 'Farm stay', 'Condominium', 'Bed and breakfast',
       'Serviced apartment', 'Cottage', 'Other', 'Boutique hotel',
       'Earth house', 'Bungalow', 'Villa', 'Tiny house', 'Nature lodge',
       'Cabin', 'Hostel', 'Barn', 'Train', 'Boat', 'Camper/RV',
       'Campsite', 'Treehouse', 'Tent', 'Chalet', 'Aparthotel', 'Castle',
       'Resort', 'Hut', 'Minsu (Taiwan)', 'Casa particular (Cuba)'],
      dtype=object)

In [239]:
#Replace null (missing) value with relevant data
#https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html
#https://www.geeksforgeeks.org/replace-nan-values-with-zeros-in-pandas-dataframe/

#I want to start a new data frame - but when I use it to incorporate the action it only gives me one column?
#So simply renamed df
ListingCleanNulls = ListingCleanDrop2

#Fill NaN values with value "missing"
        #host_name
        #city = "missing"
ListingCleanNulls['host_name'] = ListingCleanDrop2['host_name'].fillna("Missing")
ListingCleanNulls['city'] = ListingCleanDrop2['city'].fillna("Missing")

#Fill NaN values with value "f"
        #host_is_superhost
ListingCleanNulls['host_is_superhost'] = ListingCleanDrop2['host_is_superhost'].fillna("f")
    
#Fill NaN values with value "0"
        #host_total_listings_count
        #bathrooms
        #bedrooms', 'beds'
        #square_feet
        #price', 'weekly_price', monthly_price'
        #'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people'
        #number_of_reviews
        #review_scores_rating',
        #   'review_scores_accuracy', 'review_scores_cleanliness',
        #   'review_scores_checkin', 'review_scores_communication',
        #   'review_scores_location', 'review_scores_value', 'reviews_per_month'
ListingCleanNulls['host_total_listings_count'] = ListingCleanNulls['host_total_listings_count'].fillna("0")

ListingCleanNulls['bathrooms'] = ListingCleanNulls['bathrooms'].fillna("0")

ListingCleanNulls['bedrooms'] = ListingCleanNulls['bedrooms'].fillna("0")

ListingCleanNulls['beds'] = ListingCleanNulls['beds'].fillna("0")

ListingCleanNulls['price'] = ListingCleanNulls['price'].fillna("0")

ListingCleanNulls['weekly_price'] = ListingCleanNulls['weekly_price'].fillna("0")

ListingCleanNulls['monthly_price'] = ListingCleanNulls['monthly_price'].fillna("0")

ListingCleanNulls['security_deposit'] = ListingCleanNulls['security_deposit'].fillna("0")

ListingCleanNulls['cleaning_fee'] = ListingCleanNulls['cleaning_fee'].fillna("0")

ListingCleanNulls['guests_included'] = ListingCleanNulls['guests_included'].fillna("0")

ListingCleanNulls['extra_people'] = ListingCleanNulls['extra_people'].fillna("0")

ListingCleanNulls['number_of_reviews'] = ListingCleanNulls['number_of_reviews'].fillna("0")

ListingCleanNulls['review_scores_rating'] = ListingCleanNulls['review_scores_rating'].fillna("0")

ListingCleanNulls['review_scores_accuracy'] = ListingCleanNulls['review_scores_accuracy'].fillna("0")

ListingCleanNulls['review_scores_cleanliness'] = ListingCleanNulls['review_scores_cleanliness'].fillna("0")

ListingCleanNulls['review_scores_checkin'] = ListingCleanNulls['review_scores_checkin'].fillna("0")

ListingCleanNulls['review_scores_communication'] = ListingCleanNulls['review_scores_communication'].fillna("0")

ListingCleanNulls['review_scores_location'] = ListingCleanNulls['review_scores_location'].fillna("0")

ListingCleanNulls['review_scores_value'] = ListingCleanNulls['review_scores_value'].fillna("0")

ListingCleanNulls['reviews_per_month'] = ListingCleanNulls['reviews_per_month'].fillna("0")


#Fill NaN values with value "Victoria"
        #State
ListingCleanNulls['state'] = ListingCleanNulls['state'].fillna("0")

#Fill NaN values with value "0000" - CONVERT ALL TO STRING? - dtype('O') - a type of string so I think ok.
        #zipcode = "0000" = CONVERT ALL TO STING?
ListingCleanNulls['zipcode'] = ListingCleanNulls['zipcode'].fillna("0000")
    
    
    
#ListingCleanNulls
#ListingCleanNulls.info()
#ListingCleanNulls["host_name"]=='Manju')
#ListingCleanDrop2[ListingCleanDrop2.host_name == "Manju"]
#ListingCleanNulls[ListingCleanDrop2.id == 6147642]
#ListingCleanNulls.info()

#Check if columns are all now filled
ListingCleanNulls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22895 entries, 0 to 22894
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           22895 non-null  int64
 1   scrape_id                    22895 non-null  float64
 2   last_scraped                 22895 non-null  object
 3   host_id                      22895 non-null  int64
 4   host_name                    22895 non-null  object
 5   host_is_superhost            22895 non-null  object
 6   host_total_listings_count    22895 non-null  object
 7   street                       22895 non-null  object
 8   neighbourhood_cleansed       22895 non-null  object
 9   city                         22895 non-null  object
 10  state                        22895 non-null  object
 11  zipcode                      22895 non-null  object
 12  smart_location               22895 non-null  object
 13  country_code                 22895 non-null  object
 14  country                      22895 non-null  object
 15  latitude                     22895 non-null  float64
 16  longitude                    22895 non-null  float64
 17  property_type                22895 non-null  object
 18  room_type                    22895 non-null  object
 19  accommodates                 22895 non-null  int64
 20  bathrooms                    22895 non-null  object
 21  bedrooms                     22895 non-null  object
 22  beds                         22895 non-null  object
 23  bed_type                     22895 non-null  object
 24  amenities                    22895 non-null  object
 25  price                        22895 non-null  object
 26  weekly_price                 22895 non-null  object
 27  monthly_price                22895 non-null  object
 28  security_deposit             22895 non-null  object
 29  cleaning_fee                 22895 non-null  object
 30  guests_included              22895 non-null  int64
 31  extra_people                 22895 non-null  object
 32  minimum_nights               22895 non-null  int64
 33  maximum_nights               22895 non-null  int64
 34  has_availability             22895 non-null  object
 35  availability_30              22895 non-null  int64
 36  availability_60              22895 non-null  int64
 37  availability_90              22895 non-null  int64
 38  availability_365             22895 non-null  int64
 39  number_of_reviews            22895 non-null  int64
 40  review_scores_rating         22895 non-null  object
 41  review_scores_accuracy       22895 non-null  object
 42  review_scores_cleanliness    22895 non-null  object
 43  review_scores_checkin        22895 non-null  object
 44  review_scores_communication  22895 non-null  object
 45  review_scores_location       22895 non-null  object
 46  review_scores_value          22895 non-null  object
 47  reviews_per_month            22895 non-null  object
dtypes: float64(3), int64(11), object(34)
memory usage: 8.4+ MB

In [240]:
# one missing values is cast to floating-point dtype for whole column
#-so once fixed missing values re-check data types
# - the followng columns have incorrect dtypes

ListingCleanDTypes = ListingCleanNulls

    #Should be floats (decimals)
        #20  bathrooms object
        #21  bedrooms  object
        #22  beds       object 
        #48  reviews_per_month  object
#df['DataFrame Column'] = df['DataFrame Column'].astype(float)
ListingCleanDTypes['bathrooms'] = ListingCleanDTypes['bathrooms'].astype(float)

ListingCleanDTypes['bedrooms'] = ListingCleanDTypes['bedrooms'].astype(float)

ListingCleanDTypes['beds'] = ListingCleanDTypes['beds'].astype(float)

ListingCleanDTypes['reviews_per_month'] = ListingCleanDTypes['reviews_per_month'].astype(float)

#Check this first lot of data type changes worked
ListingCleanDTypes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22895 entries, 0 to 22894
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           22895 non-null  int64
 1   scrape_id                    22895 non-null  float64
 2   last_scraped                 22895 non-null  object
 3   host_id                      22895 non-null  int64
 4   host_name                    22895 non-null  object
 5   host_is_superhost            22895 non-null  object
 6   host_total_listings_count    22895 non-null  object
 7   street                       22895 non-null  object
 8   neighbourhood_cleansed       22895 non-null  object
 9   city                         22895 non-null  object
 10  state                        22895 non-null  object
 11  zipcode                      22895 non-null  object
 12  smart_location               22895 non-null  object
 13  country_code                 22895 non-null  object
 14  country                      22895 non-null  object
 15  latitude                     22895 non-null  float64
 16  longitude                    22895 non-null  float64
 17  property_type                22895 non-null  object
 18  room_type                    22895 non-null  object
 19  accommodates                 22895 non-null  int64
 20  bathrooms                    22895 non-null  float64
 21  bedrooms                     22895 non-null  float64
 22  beds                         22895 non-null  float64
 23  bed_type                     22895 non-null  object
 24  amenities                    22895 non-null  object
 25  price                        22895 non-null  object
 26  weekly_price                 22895 non-null  object
 27  monthly_price                22895 non-null  object
 28  security_deposit             22895 non-null  object
 29  cleaning_fee                 22895 non-null  object
 30  guests_included              22895 non-null  int64
 31  extra_people                 22895 non-null  object
 32  minimum_nights               22895 non-null  int64
 33  maximum_nights               22895 non-null  int64
 34  has_availability             22895 non-null  object
 35  availability_30              22895 non-null  int64
 36  availability_60              22895 non-null  int64
 37  availability_90              22895 non-null  int64
 38  availability_365             22895 non-null  int64
 39  number_of_reviews            22895 non-null  int64
 40  review_scores_rating         22895 non-null  object
 41  review_scores_accuracy       22895 non-null  object
 42  review_scores_cleanliness    22895 non-null  object
 43  review_scores_checkin        22895 non-null  object
 44  review_scores_communication  22895 non-null  object
 45  review_scores_location       22895 non-null  object
 46  review_scores_value          22895 non-null  object
 47  reviews_per_month            22895 non-null  float64
dtypes: float64(7), int64(11), object(30)
memory usage: 8.4+ MB

In [241]:
#Checking look at dtype of price column
ListingCleanDTypes[ListingCleanDTypes.id == 12719024]["price"]

5636    $12,624.00
Name: price, dtype: object

In [242]:
#Converting currency string to float (decimal)
#https://pbpython.com/pandas_dtypes.html

#Function to strip dollar signs and comma and change to float - don't quite understand but works!!
def convert_currency(val):
    """
    Convert the string number value to a float
     - Remove $
     - Remove commas
     - Convert to float type
    """
    new_val = val.replace(',','').replace('$', '')
    return float(new_val)

In [243]:
#Test function on price column
ListingCleanDTypes['price'] = ListingCleanDTypes['price'].apply(convert_currency)
ListingCleanDTypes

,id,scrape_id,last_scraped,host_id,host_name,host_is_superhost,host_total_listings_count,street,neighbourhood_cleansed,city,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,9835,2.020000e+13,7/12/18,33057,Manju,f,1,"Bulleen, VIC, Australia",Manningham,Bulleen,...,365,4,90,9,10,10,10,9,9,0.04
1,10803,2.020000e+13,7/12/18,38901,Lindsay,f,1,"Brunswick East, VIC, Australia",Moreland,Brunswick East,...,213,108,87,9,8,9,9,9,9,1.50
2,12936,2.020000e+13,7/12/18,50121,Frank & Vince,t,17,"St Kilda, VIC, Australia",Port Phillip,St Kilda,...,326,15,94,9,10,9,9,9,9,0.15
3,15246,2.020000e+13,7/12/18,59786,Eleni,f,3,"Thornbury, VIC, Australia",Darebin,Thornbury,...,0,29,94,9,9,10,10,9,9,0.30
4,16760,2.020000e+13,7/12/18,65090,Colin,f,1,"St Kilda East, VIC, Australia",Port Phillip,St Kilda East,...,328,63,90,9,9,10,10,10,9,0.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22890,30592332,2.020000e+13,7/12/18,229206629,Yolanda,f,1,"Carlton, VIC, Australia",Melbourne,Carlton,...,82,0,0,0,0,0,0,0,0,0.00
22891,30592345,2.020000e+13,7/12/18,150660631,Mary And Lizz,f,2,"Melton South, VIC, Australia",Melton,Melton South,...,365,0,0,0,0,0,0,0,0,0.00
22892,30592362,2.020000e+13,7/12/18,130394565,ç³,f,1,"Glen Waverley, VIC, Australia",Monash,Glen Waverley,...,15,0,0,0,0,0,0,0,0,0.00
22893,30592590,2.020000e+13,7/12/18,22630928,Karin,f,17,"Southbank, VIC, Australia",Melbourne,Southbank,...,349,0,0,0,0,0,0,0,0,0.00
22894,30593623,2.020000e+13,7/12/18,38305445,Nica,f,1,"Carlton, VIC, Australia",Melbourne,Carlton,...,68,0,0,0,0,0,0,0,0,0.00

In [244]:
#Checking look at dtype of price column to conversion to float has worked
ListingCleanDTypes[ListingCleanDTypes.id == 12719024]["price"]

5636    12624.0
Name: price, dtype: float64

In [245]:
#Complete converstion of rest of currency columns
ListingCleanDTypes['weekly_price'] = ListingCleanDTypes['weekly_price'].apply(convert_currency)
ListingCleanDTypes['monthly_price'] = ListingCleanDTypes['monthly_price'].apply(convert_currency)
ListingCleanDTypes['security_deposit'] = ListingCleanDTypes['security_deposit'].apply(convert_currency)
ListingCleanDTypes['cleaning_fee'] = ListingCleanDTypes['cleaning_fee'].apply(convert_currency)
ListingCleanDTypes['extra_people'] = ListingCleanDTypes['extra_people'].apply(convert_currency)
ListingCleanDTypes

,id,scrape_id,last_scraped,host_id,host_name,host_is_superhost,host_total_listings_count,street,neighbourhood_cleansed,city,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,9835,2.020000e+13,7/12/18,33057,Manju,f,1,"Bulleen, VIC, Australia",Manningham,Bulleen,...,365,4,90,9,10,10,10,9,9,0.04
1,10803,2.020000e+13,7/12/18,38901,Lindsay,f,1,"Brunswick East, VIC, Australia",Moreland,Brunswick East,...,213,108,87,9,8,9,9,9,9,1.50
2,12936,2.020000e+13,7/12/18,50121,Frank & Vince,t,17,"St Kilda, VIC, Australia",Port Phillip,St Kilda,...,326,15,94,9,10,9,9,9,9,0.15
3,15246,2.020000e+13,7/12/18,59786,Eleni,f,3,"Thornbury, VIC, Australia",Darebin,Thornbury,...,0,29,94,9,9,10,10,9,9,0.30
4,16760,2.020000e+13,7/12/18,65090,Colin,f,1,"St Kilda East, VIC, Australia",Port Phillip,St Kilda East,...,328,63,90,9,9,10,10,10,9,0.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22890,30592332,2.020000e+13,7/12/18,229206629,Yolanda,f,1,"Carlton, VIC, Australia",Melbourne,Carlton,...,82,0,0,0,0,0,0,0,0,0.00
22891,30592345,2.020000e+13,7/12/18,150660631,Mary And Lizz,f,2,"Melton South, VIC, Australia",Melton,Melton South,...,365,0,0,0,0,0,0,0,0,0.00
22892,30592362,2.020000e+13,7/12/18,130394565,ç³,f,1,"Glen Waverley, VIC, Australia",Monash,Glen Waverley,...,15,0,0,0,0,0,0,0,0,0.00
22893,30592590,2.020000e+13,7/12/18,22630928,Karin,f,17,"Southbank, VIC, Australia",Melbourne,Southbank,...,349,0,0,0,0,0,0,0,0,0.00
22894,30593623,2.020000e+13,7/12/18,38305445,Nica,f,1,"Carlton, VIC, Australia",Melbourne,Carlton,...,68,0,0,0,0,0,0,0,0,0.00

In [246]:
ListingCleanDTypes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22895 entries, 0 to 22894
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           22895 non-null  int64
 1   scrape_id                    22895 non-null  float64
 2   last_scraped                 22895 non-null  object
 3   host_id                      22895 non-null  int64
 4   host_name                    22895 non-null  object
 5   host_is_superhost            22895 non-null  object
 6   host_total_listings_count    22895 non-null  object
 7   street                       22895 non-null  object
 8   neighbourhood_cleansed       22895 non-null  object
 9   city                         22895 non-null  object
 10  state                        22895 non-null  object
 11  zipcode                      22895 non-null  object
 12  smart_location               22895 non-null  object
 13  country_code                 22895 non-null  object
 14  country                      22895 non-null  object
 15  latitude                     22895 non-null  float64
 16  longitude                    22895 non-null  float64
 17  property_type                22895 non-null  object
 18  room_type                    22895 non-null  object
 19  accommodates                 22895 non-null  int64
 20  bathrooms                    22895 non-null  float64
 21  bedrooms                     22895 non-null  float64
 22  beds                         22895 non-null  float64
 23  bed_type                     22895 non-null  object
 24  amenities                    22895 non-null  object
 25  price                        22895 non-null  float64
 26  weekly_price                 22895 non-null  float64
 27  monthly_price                22895 non-null  float64
 28  security_deposit             22895 non-null  float64
 29  cleaning_fee                 22895 non-null  float64
 30  guests_included              22895 non-null  int64
 31  extra_people                 22895 non-null  float64
 32  minimum_nights               22895 non-null  int64
 33  maximum_nights               22895 non-null  int64
 34  has_availability             22895 non-null  object
 35  availability_30              22895 non-null  int64
 36  availability_60              22895 non-null  int64
 37  availability_90              22895 non-null  int64
 38  availability_365             22895 non-null  int64
 39  number_of_reviews            22895 non-null  int64
 40  review_scores_rating         22895 non-null  object
 41  review_scores_accuracy       22895 non-null  object
 42  review_scores_cleanliness    22895 non-null  object
 43  review_scores_checkin        22895 non-null  object
 44  review_scores_communication  22895 non-null  object
 45  review_scores_location       22895 non-null  object
 46  review_scores_value          22895 non-null  object
 47  reviews_per_month            22895 non-null  float64
dtypes: float64(13), int64(11), object(24)
memory usage: 8.4+ MB

In [247]:
 #Should be integer (whole number)
        #41  review_scores_rating  object 
        #42  review_scores_accuracy  object 
        #43  review_scores_cleanliness  object 
        #44  review_scores_checkin  object 
        #45  review_scores_communication  object 
        #46  review_scores_location  object 
        #47  review_scores_value  object 
ListingCleanDTypes['host_total_listings_count'] = ListingCleanDTypes['host_total_listings_count'].astype(int)
ListingCleanDTypes['review_scores_rating'] = ListingCleanDTypes['review_scores_rating'].astype(int)
ListingCleanDTypes['review_scores_accuracy'] = ListingCleanDTypes['review_scores_accuracy'].astype(int)
ListingCleanDTypes['review_scores_cleanliness'] = ListingCleanDTypes['review_scores_cleanliness'].astype(int)
ListingCleanDTypes['review_scores_checkin'] = ListingCleanDTypes['review_scores_rating'].astype(int)
ListingCleanDTypes['review_scores_communication'] = ListingCleanDTypes['review_scores_communication'].astype(int)
ListingCleanDTypes['review_scores_location'] = ListingCleanDTypes['review_scores_location'].astype(int)
ListingCleanDTypes['review_scores_value'] = ListingCleanDTypes['review_scores_value'].astype(int)
ListingCleanDTypes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22895 entries, 0 to 22894
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           22895 non-null  int64
 1   scrape_id                    22895 non-null  float64
 2   last_scraped                 22895 non-null  object
 3   host_id                      22895 non-null  int64
 4   host_name                    22895 non-null  object
 5   host_is_superhost            22895 non-null  object
 6   host_total_listings_count    22895 non-null  int64
 7   street                       22895 non-null  object
 8   neighbourhood_cleansed       22895 non-null  object
 9   city                         22895 non-null  object
 10  state                        22895 non-null  object
 11  zipcode                      22895 non-null  object
 12  smart_location               22895 non-null  object
 13  country_code                 22895 non-null  object
 14  country                      22895 non-null  object
 15  latitude                     22895 non-null  float64
 16  longitude                    22895 non-null  float64
 17  property_type                22895 non-null  object
 18  room_type                    22895 non-null  object
 19  accommodates                 22895 non-null  int64
 20  bathrooms                    22895 non-null  float64
 21  bedrooms                     22895 non-null  float64
 22  beds                         22895 non-null  float64
 23  bed_type                     22895 non-null  object
 24  amenities                    22895 non-null  object
 25  price                        22895 non-null  float64
 26  weekly_price                 22895 non-null  float64
 27  monthly_price                22895 non-null  float64
 28  security_deposit             22895 non-null  float64
 29  cleaning_fee                 22895 non-null  float64
 30  guests_included              22895 non-null  int64
 31  extra_people                 22895 non-null  float64
 32  minimum_nights               22895 non-null  int64
 33  maximum_nights               22895 non-null  int64
 34  has_availability             22895 non-null  object
 35  availability_30              22895 non-null  int64
 36  availability_60              22895 non-null  int64
 37  availability_90              22895 non-null  int64
 38  availability_365             22895 non-null  int64
 39  number_of_reviews            22895 non-null  int64
 40  review_scores_rating         22895 non-null  int64
 41  review_scores_accuracy       22895 non-null  int64
 42  review_scores_cleanliness    22895 non-null  int64
 43  review_scores_checkin        22895 non-null  int64
 44  review_scores_communication  22895 non-null  int64
 45  review_scores_location       22895 non-null  int64
 46  review_scores_value          22895 non-null  int64
 47  reviews_per_month            22895 non-null  float64
dtypes: float64(13), int64(19), object(16)
memory usage: 8.4+ MB

In [248]:
# - checkeing for values issues for relevant columns
a = ListingCleanDTypes["host_is_superhost"].unique()
a.sort()
print (a)
print("")
b = ListingCleanDTypes["neighbourhood_cleansed"].unique()
b.sort()
print (b)
print("")
c = ListingCleanDTypes["city"].unique()
c.sort()
print (c)
print("")
d = ListingCleanDTypes["smart_location"].unique()
d.sort()
print (d)
print("")
e = ListingCleanDTypes["country_code"].unique()
e.sort()
print (e)
print("")
f = ListingCleanDTypes["country"].unique()
f.sort()
print (f)
print("")
g = ListingCleanDTypes["has_availability"].unique()
g.sort()
print (g)
print("")

#checking with team if “city” or “smart_location” - all else are good

['f' 't']

['Banyule' 'Bayside' 'Boroondara' 'Brimbank' 'Cardinia' 'Casey' 'Darebin'
 'Frankston' 'Glen Eira' 'Greater Dandenong' 'Hobsons Bay' 'Hume'
 'Kingston' 'Knox' 'Manningham' 'Maribyrnong' 'Maroondah' 'Melbourne'
 'Melton' 'Monash' 'Moonee Valley' 'Moreland' 'Nillumbik' 'Port Phillip'
 'Stonnington' 'Whitehorse' 'Whittlesea' 'Wyndham' 'Yarra' 'Yarra Ranges']

[' Melbourne' ' South Yarra' 'Abbotsford' 'Abbotsford '
 'Abbotsford, Melbourne' 'Aberfeldie' 'Airport West' 'Albanvale'
 'Albert Park' 'Albert Park. Melbourne ' 'Albion' 'Alphington' 'Altona'
 'Altona Meadows' 'Altona North' 'Armadale' 'Armadale North' 'Ascot Vale'
 'Ashburton' 'Ashwood' 'Aspendale' 'Aspendale Gardens' 'Attwood'
 'Avondale Heights' 'BRUNSWICK EAST' 'Badger Creek' 'Balaclava' 'Balwyn'
 'Balwyn North' 'Bangholme' 'Bayles' 'Bayswater' 'Bayswater North'
 'Beaconsfield' 'Beaconsfield Upper' 'Beaumaris' 'Belgrave'
 'Belgrave Heights' 'Bellfield' 'Bentleigh' 'Bentleigh East' 'Berwick'
 'Beveridge' 'Big Pats Creek' 'Black Rock' 'Blackburn' 'Blackburn '
 'Blackburn North' 'Blackburn South' 'Bonbeach' 'Boronia' 'Botanic Ridge'
 'Box Hill' 'Box Hill North' 'Box Hill South' 'Braybrook' 'Braybrook '
 'Briar Hill' 'Brighton' 'Brighton East' 'Brighton East, Melbourne'
 'Brimbank City' 'Brisbane' 'Broadmeadows' 'Broadmeadows ' 'Brookfield'
 'Brooklyn' 'Brunswick' 'Brunswick ' 'Brunswick / Melbourne'
 'Brunswick East' 'Brunswick East ' 'Brunswick East, Melbourne'
 'Brunswick VIC 3056' 'Brunswick West' 'Brunswick West, Melbourne'
 'Brunswick west' 'Bulla' 'Bulleen' 'Bundoora' 'Bunyip' 'Burnley'
 'Burnside' 'Burnside Heights' 'Burwood' 'Burwood East' 'Cairnlea'
 'Camberwell' 'Canterbury' 'Cardinia' 'Cardinia Shire' 'Carlton'
 'Carlton ' 'Carlton North' 'Carlton South' 'Carlton, Melbourne'
 'Carnegie' 'Caroline Springs' 'Carrum' 'Carrum Downs' 'Caulfield'
 'Caulfield East' 'Caulfield North' 'Caulfield South' 'Chadstone'
 'Chelsea' 'Chelsea Heights' 'Cheltenham' 'Chirnside Park'
 'Christmas Hills' 'Chum Creek' 'Chum Creek/Healesville'
 'City of Port Phillip' 'Clarinda' 'Clayton' 'Clayton South' 'Clematis'
 'Clifton Hill' 'Clyde North' 'Coburg' 'Coburg (Melbourne)' 'Coburg North'
 'Cockatoo' 'Coldstream' 'Collingwood' 'Collingwood, Melbourne'
 'Cora Lynn' 'Cottles Bridge' 'Craigieburn' 'Cranbourne' 'Cranbourne East'
 'Cranbourne North' 'Cranbourne South' 'Cranbourne West' 'Cremorne'
 'Croydon' 'Croydon North' 'Croydon South' 'Dallas' 'Dandenong'
 'Dandenong North' 'Dandenong Ranges' 'Dandenong South' 'Deer Park'
 'Delahey' 'Derrimut' 'Diamond Creek' 'Diggers Rest' 'Dingley Village'
 'Dixons Creek' 'Dockland ' 'Docklands' 'Docklands ' 'Don Valley'
 'Doncaster' 'Doncaster East' 'Doncaster VIC 3108' 'Doncasterï¼ŒMelbourne'
 'Donnybrook' 'Donvale' 'Doreen' 'Doveton' 'Eaglemont' 'East Brunswick'
 'East Doncaster' 'East Melbourne' 'East Melbourne ' 'East St. Kilda'
 'East Warburton' 'East st kilda ' 'Eden Park' 'Edithvale' 'Elsternwick'
 'Eltham' 'Eltham North' 'Elwood' 'Elwood, Melbourne' 'Elwood, St. Kilda'
 'Elwood, St. Kilda ' 'Emerald' 'Endeavour Hills' 'Epping' 'Essendon'
 'Essendon ' 'Essendon North' 'Essendon West' 'Essendon, Victoria, AU'
 'Eumemmerring' 'Eynesbury' 'FITZROY' 'Fairfield' 'Fawkner'
 'Ferntree Gully' 'Ferny Creek' 'Fitzroy' 'Fitzroy North'
 'Fitzroy, Melbourne' 'Fitzroy, Victoria, AU' 'Flemington' 'Flemington '
 'Footscray' 'Footscray ' 'Forest Hill' 'Frankston' 'Frankston North'
 'Frankston South' 'Gardenvale' 'Garfield North' 'Gembrook' 'Gilderoy'
 'Gladstone Park' 'Gladysdale' 'Glen Huntly' 'Glen Iris'
 'Glen Iris, Victoria, AU' 'Glen Waverley' 'Glenroy' 'Gowanbrae'
 'Greensborough' 'Greenvale' 'Gruyere' 'Guys Hill' 'HEIDELBERG'
 'HEIDELBERG WEST' 'Hadfield' 'Hallam' 'Hampton' 'Hampton East'
 'Hampton Park' 'Harkaway' 'Hawthorn' 'Hawthorn East' 'Hawthorn east'
 'Hawthorn, Melbourne' 'Healesville' 'Healesville ' 'Heatherton'
 'Heathmont' 'Heidelberg' 'Heidelberg Heights' 'Heidelberg West'
 'Heidelberg West ' 'Highett' 'Hillside' 'Hoddles Creek' 'Holmesglen'
 'Hoppers Crossing' 'Hughesdale' 'Humevale' 'Huntingdale' 'Hurstbridge'
 'Iona' 'Ivanhoe' 'Ivanhoe ' 'Ivanhoe (Melbourne)' 'Ivanhoe East' 'Jacana'
 'Kallista' 'Kalorama' 'Kangaroo Ground' 'Kangaroo ground' 'Kealba'
 'Keilor' 'Keilor Downs' 'Keilor East' 'Keilor Lodge' 'Keilor Park'
 'Kensington' 'Kew' 'Kew East' 'Kew East, Victoria, AU' 'Keysborough'
 'Kilsyth' 'Kilsyth South' 'Kinglake West' 'Kings Park' 'Kingsbury'
 'Kingsville' 'Knoxfield' 'Kooyong' 'Kurunjang' 'Lalor' 'Langwarrin'
 'Langwarrin South' 'Launching Place' 'Laverton' 'Lilydale' 'Little River'
 'Lower Plenty' 'Lynbrook' 'Lyndhurst' 'Lysterfield' 'Macclesfield'
 'Macleod' 'Maidstone' 'Malvern' 'Malvern East' 'Malvern, Melbourne'
 'Manningham' 'Manor Lakes' 'Maribyrnong' 'Maribyrnong, Melbourne'
 'McKinnon' 'McMahons Creek' 'Mcmahons Creek' 'Meadow Heights' 'Melborne'
 'Melbourne' 'Melbourne ' 'Melbourne (Eltham)' 'Melbourne CBD'
 'Melbourne City' 'Melbourne VIC 3000' 'Melbourne VIC 3004'
 'Melbourne Victoria' 'Melbourne, Victoria, AU' 'Melton South'
 'Melton South ( STRATHTULLOH)' 'Melton West' 'Mentone' 'Menzies Creek'
 'Mernda' 'Mickleham' 'Middle Park' 'Middle Park Melbourne' 'Mill Park'
 'Millgrove' 'Missing' 'Mitcham' 'Mlebourne' 'Monbulk' 'Mont Albert'
 'Mont Albert North' 'Montmorency' 'Montrose' 'Moonee Ponds' 'Moorabbin'
 'Mooroolbark' 'Mordialloc' 'Moreland City' 'Mount Cottrell'
 'Mount Dandenong' 'Mount Eliza' 'Mount Evelyn' 'Mount Toolebewong'
 'Mount Waverley' 'Mt Dandenong' 'Mt Waverley' 'Mulgrave' 'Murrumbeena'
 'Nar Nar Goon North' 'Narbethong' 'Narre Warren' 'Narre Warren North'
 'Narre Warren South' 'Newport' 'Niddrie' 'Noble Park' 'Noble Park North'
 'North Fitzroy' 'North Fitzroy ' 'North Melbourne'
 'North Melbourne, Victoria, AU' 'North Warrandyte' 'Northcote'
 'Northcote South' 'Northcote, Victoria, AU' 'Notting Hill' 'Nunawading'
 'Oak Park' 'Oaklands Junction' 'Oaklands junction ' 'Oakleigh'
 'Oakleigh East' 'Oakleigh South' 'Officer' 'Officer South' 'Olinda'
 'Ormond' 'Pakenham' 'Pakenham ' 'Pakenham Upper' 'Panton Hill'
 'Park Orchards' 'Parkdale' 'Parkville' 'Pascoe Vale' 'Pascoe Vale South'
 'Patterson Lakes' 'Pearcedale' 'Plumpton' 'Point Cook' 'Port Melbourne'
 'Port Melbourne ' 'Port Phillip City' 'Powelltown' 'Praharan ' 'Prahran'
 'Prahran / Toorak ' 'Preston' 'Preston West' 'Princes Hill' 'Research'
 'Reservoir' 'Richmond' 'Richmond ' 'Richmond, Victoria, AU' 'Ringwood'
 'Ringwood East' 'Ringwood North' 'Ripponlea' 'Ripponlea (East St Kilda)'
 'Rockbank' 'Rosanna' 'Rowville' 'Roxburgh Park' 'STRATHTULLOH'
 'STRTHTULLOCH' 'Saint Albans' 'Saint Andrews' 'Saint Helena'
 'Saint Kilda' 'Saint Kilda Beach' 'Saint Kilda East' 'Saint Kilda West'
 'Saint Kilda, Victoria, AU' 'Sandhurst' 'Sandringham' 'Sassafras'
 'Scoresby' 'Seabrook' 'Seaford' 'Seaholme' 'Seddon' 'Selby' 'Seville'
 'Seville East' 'Sherbrooke' 'Silvan' 'Smiths Gully' 'Somerton VIC 3062'
 'South Kingsville' 'South Melbourne' 'South Melbourne '
 'South Melbourne, Melbourne' 'South Morang' 'South Wharf' 'South Yarra'
 'South Yarra VIC 3141' 'South Yarra, Victoria, AU' 'Southbank'
 'Southbank Melbourne ' 'Southbank, Melbourne' 'Southbank, Victoria, AU'
 'Spotswood' 'Springvale' 'Springvale South' 'St Andrews' 'St Kilda'
 'St Kilda ' 'St Kilda / Elwood' 'St Kilda East' 'St Kilda East '
 'St Kilda West' 'St Kilda West Melbourne' 'St Kilda east' 'St kilda'
 'St kilda ' 'St. Andrews' 'St. Kilda' 'St. Kilda West' 'St.Kilda East'
 'StKilda East' 'Steels Creek' 'Strathewen' 'Strathmore' 'Strathtulloh '
 'Sunbury' 'Sunshine' 'Sunshine North' 'Sunshine West' 'Surrey Hills'
 'Surrey Hills, Victoria, AU' 'Sydenham' 'Tarneit' 'Tarrawarra'
 'Taylors Hill' 'Tecoma' 'Templestowe' 'Templestowe Lower' 'The Basin'
 'The Patch' 'Thomastown' 'Thornbury' 'Thornbury, Victoria, AU' 'Tonimbuk'
 'Toolangi' 'Toolern Vale' 'Tooradin' 'Toorak' 'Toorak, Melbourne.'
 'Travancore' 'Tremont' 'Truganina' 'Truganina ' 'Truganina, Victoria, AU'
 'Tullamarine' 'Upper Ferntree Gully' 'Upwey' 'VIC' 'Vermont'
 'Vermont South' 'Victoria' 'Viewbank' 'Wandin East' 'Wandin North'
 'Wantirna' 'Wantirna South' 'Wantirna South VIC 3152' 'Wantirna south'
 'Warburton' 'Warneet' 'Warrandyte' 'Warrandyte South' 'Warranwood'
 'Waterways' 'Watsonia' 'Watsonia North' 'Watsons Creek' 'Wattle Glen'
 'Werribee' 'Werribee ' 'Werribee South' 'Wesburn'
 'Wesburn,10minutes to Warburton' 'West Footscray' 'West Melbourne'
 'West Melbourne - flagstaff ' 'Westmeadows' 'Wheelers' 'Wheelers Hill'
 'Wheelers Hill VIC 3150' 'Whitehorse City' 'Whittlesea'
 'Williams Landing' 'Williamstown' 'Williamstown North' 'Windsor'
 'Wollert' 'Wonga Park' 'Woori Yallock' 'Wyndham City' 'Wyndham Vale'
 'Yarra Glen' 'Yarra Glen, Victoria, AU' 'Yarra Junction'
 'Yarra Ranges Shire' 'Yarra Valley, Yarra Glen, Healesville' 'Yarraville'
 'Yellingbo' 'Yellingbo, Yarra Valley' 'Yering' 'Yuroke' 'brunswick'
 'clayton' 'clayton south' 'eaglemont ' 'melbourne' 'st kilda' 'å¢¨å°”æœ¬'
 'å¢¨çˆ¾æœ¬ Melbourne' 'èŠ’ç‰¹éŸ¦å¼—åˆ©åŒº']

[' Melbourne, Australia' ' South Yarra, Australia' 'AU, Australia'
 'Abbotsford , Australia' 'Abbotsford, Australia'
 'Abbotsford, Melbourne, Australia' 'Aberfeldie, Australia'
 'Airport West, Australia' 'Albanvale, Australia' 'Albert Park, Australia'
 'Albert Park. Melbourne , Australia' 'Albion, Australia'
 'Alphington, Australia' 'Altona Meadows, Australia'
 'Altona North, Australia' 'Altona, Australia' 'Armadale North, Australia'
 'Armadale, Australia' 'Ascot Vale, Australia' 'Ashburton, Australia'
 'Ashwood, Australia' 'Aspendale Gardens, Australia'
 'Aspendale, Australia' 'Attwood, Australia' 'Avondale Heights, Australia'
 'BRUNSWICK EAST, Australia' 'Badger Creek, Australia'
 'Balaclava, Australia' 'Balwyn North, Australia' 'Balwyn, Australia'
 'Bangholme, Australia' 'Bayles, Australia' 'Bayswater North, Australia'
 'Bayswater, Australia' 'Beaconsfield Upper, Australia'
 'Beaconsfield, Australia' 'Beaumaris, Australia'
 'Belgrave Heights, Australia' 'Belgrave, Australia'
 'Bellfield, Australia' 'Bentleigh East, Australia' 'Bentleigh, Australia'
 'Berwick, Australia' 'Beveridge, Australia' 'Big Pats Creek, Australia'
 'Black Rock, Australia' 'Blackburn , Australia'
 'Blackburn North, Australia' 'Blackburn South, Australia'
 'Blackburn, Australia' 'Bonbeach, Australia' 'Boronia, Australia'
 'Botanic Ridge, Australia' 'Box Hill North, Australia'
 'Box Hill South, Australia' 'Box Hill, Australia' 'Braybrook , Australia'
 'Braybrook, Australia' 'Briar Hill, Australia' 'Brighton East, Australia'
 'Brighton East, Melbourne, Australia' 'Brighton, Australia'
 'Brimbank City, Australia' 'Brisbane, Australia'
 'Broadmeadows , Australia' 'Broadmeadows, Australia'
 'Brookfield, Australia' 'Brooklyn, Australia' 'Brunswick , Australia'
 'Brunswick / Melbourne, Australia' 'Brunswick East , Australia'
 'Brunswick East, Australia' 'Brunswick East, Melbourne, Australia'
 'Brunswick VIC 3056, Australia' 'Brunswick West, Australia'
 'Brunswick West, Melbourne, Australia' 'Brunswick west, Australia'
 'Brunswick, Australia' 'Bulla, Australia' 'Bulleen, Australia'
 'Bundoora, Australia' 'Bunyip, Australia' 'Burnley, Australia'
 'Burnside Heights, Australia' 'Burnside, Australia'
 'Burwood East, Australia' 'Burwood, Australia' 'Cairnlea, Australia'
 'Camberwell, Australia' 'Canterbury, Australia'
 'Cardinia Shire, Australia' 'Cardinia, Australia' 'Carlton , Australia'
 'Carlton North, Australia' 'Carlton South, Australia'
 'Carlton, Australia' 'Carlton, Melbourne, Australia'
 'Carnegie, Australia' 'Caroline Springs, Australia'
 'Carrum Downs, Australia' 'Carrum, Australia' 'Caulfield East, Australia'
 'Caulfield North, Australia' 'Caulfield South, Australia'
 'Caulfield, Australia' 'Chadstone, Australia'
 'Chelsea Heights, Australia' 'Chelsea, Australia' 'Cheltenham, Australia'
 'Chirnside Park, Australia' 'Christmas Hills, Australia'
 'Chum Creek, Australia' 'Chum Creek/Healesville, Australia'
 'City of Port Phillip, Australia' 'Clarinda, Australia'
 'Clayton South, Australia' 'Clayton, Australia' 'Clematis, Australia'
 'Clifton Hill, Australia' 'Clyde North, Australia'
 'Coburg (Melbourne), Australia' 'Coburg North, Australia'
 'Coburg, Australia' 'Cockatoo, Australia' 'Coldstream, Australia'
 'Collingwood, Australia' 'Collingwood, Melbourne, Australia'
 'Cora Lynn, Australia' 'Cottles Bridge, Australia'
 'Craigieburn, Australia' 'Cranbourne East, Australia'
 'Cranbourne North, Australia' 'Cranbourne South, Australia'
 'Cranbourne West, Australia' 'Cranbourne, Australia'
 'Cremorne, Australia' 'Croydon North, Australia'
 'Croydon South, Australia' 'Croydon, Australia' 'Dallas, Australia'
 'Dandenong North, Australia' 'Dandenong Ranges, Australia'
 'Dandenong South, Australia' 'Dandenong, Australia'
 'Deer Park, Australia' 'Delahey, Australia' 'Derrimut, Australia'
 'Diamond Creek, Australia' 'Diggers Rest, Australia'
 'Dingley Village, Australia' 'Dixons Creek, Australia'
 'Dockland , Australia' 'Docklands , Australia' 'Docklands, Australia'
 'Don Valley, Australia' 'Doncaster East, Australia'
 'Doncaster VIC 3108, Australia' 'Doncaster, Australia'
 'Doncasterï¼ŒMelbourne, Australia' 'Donnybrook, Australia'
 'Donvale, Australia' 'Doreen, Australia' 'Doveton, Australia'
 'Eaglemont, Australia' 'East Brunswick, Australia'
 'East Doncaster, Australia' 'East Melbourne , Australia'
 'East Melbourne, Australia' 'East St. Kilda, Australia'
 'East Warburton, Australia' 'East st kilda , Australia'
 'Eden Park, Australia' 'Edithvale, Australia' 'Elsternwick, Australia'
 'Eltham North, Australia' 'Eltham, Australia' 'Elwood, Australia'
 'Elwood, Melbourne, Australia' 'Elwood, St. Kilda , Australia'
 'Elwood, St. Kilda, Australia' 'Emerald, Australia'
 'Endeavour Hills, Australia' 'Epping, Australia' 'Essendon , Australia'
 'Essendon North, Australia' 'Essendon West, Australia'
 'Essendon, Australia' 'Essendon, Victoria, AU, Australia'
 'Eumemmerring, Australia' 'Eynesbury, Australia' 'FITZROY, Australia'
 'Fairfield, Australia' 'Fawkner, Australia' 'Ferntree Gully, Australia'
 'Ferny Creek, Australia' 'Fitzroy North, Australia' 'Fitzroy, Australia'
 'Fitzroy, Melbourne, Australia' 'Fitzroy, Victoria, AU, Australia'
 'Flemington , Australia' 'Flemington, Australia' 'Footscray , Australia'
 'Footscray, Australia' 'Forest Hill, Australia'
 'Frankston North, Australia' 'Frankston South, Australia'
 'Frankston, Australia' 'Gardenvale, Australia'
 'Garfield North, Australia' 'Gembrook, Australia' 'Gilderoy, Australia'
 'Gladstone Park, Australia' 'Gladysdale, Australia'
 'Glen Huntly, Australia' 'Glen Iris, Australia'
 'Glen Iris, Victoria, AU, Australia' 'Glen Waverley, Australia'
 'Glenroy, Australia' 'Gowanbrae, Australia' 'Greensborough, Australia'
 'Greenvale, Australia' 'Gruyere, Australia' 'Guys Hill, Australia'
 'HEIDELBERG WEST, Australia' 'HEIDELBERG, Australia'
 'Hadfield, Australia' 'Hallam, Australia' 'Hampton East, Australia'
 'Hampton Park, Australia' 'Hampton, Australia' 'Harkaway, Australia'
 'Hawthorn East, Australia' 'Hawthorn east, Australia'
 'Hawthorn, Australia' 'Hawthorn, Melbourne, Australia'
 'Healesville , Australia' 'Healesville, Australia'
 'Heatherton, Australia' 'Heathmont, Australia'
 'Heidelberg Heights, Australia' 'Heidelberg West , Australia'
 'Heidelberg West, Australia' 'Heidelberg, Australia' 'Highett, Australia'
 'Hillside, Australia' 'Hoddles Creek, Australia' 'Holmesglen, Australia'
 'Hoppers Crossing, Australia' 'Hughesdale, Australia'
 'Humevale, Australia' 'Huntingdale, Australia' 'Hurstbridge, Australia'
 'Iona, Australia' 'Ivanhoe (Melbourne), Australia' 'Ivanhoe , Australia'
 'Ivanhoe East, Australia' 'Ivanhoe, Australia' 'Jacana, Australia'
 'Kallista, Australia' 'Kalorama, Australia' 'Kangaroo Ground, Australia'
 'Kangaroo ground, Australia' 'Kealba, Australia'
 'Keilor Downs, Australia' 'Keilor East, Australia'
 'Keilor Lodge, Australia' 'Keilor Park, Australia' 'Keilor, Australia'
 'Kensington, Australia' 'Kew East, Australia'
 'Kew East, Victoria, AU, Australia' 'Kew, Australia'
 'Keysborough, Australia' 'Kilsyth South, Australia' 'Kilsyth, Australia'
 'Kinglake West, Australia' 'Kings Park, Australia' 'Kingsbury, Australia'
 'Kingsville, Australia' 'Knoxfield, Australia' 'Kooyong, Australia'
 'Kurunjang, Australia' 'Lalor, Australia' 'Langwarrin South, Australia'
 'Langwarrin, Australia' 'Launching Place, Australia'
 'Laverton, Australia' 'Lilydale, Australia' 'Little River, Australia'
 'Lower Plenty, Australia' 'Lynbrook, Australia' 'Lyndhurst, Australia'
 'Lysterfield, Australia' 'Macclesfield, Australia' 'Macleod, Australia'
 'Maidstone, Australia' 'Malvern East, Australia' 'Malvern, Australia'
 'Malvern, Melbourne, Australia' 'Manningham, Australia'
 'Manor Lakes, Australia' 'Maribyrnong, Australia'
 'Maribyrnong, Melbourne, Australia' 'McKinnon, Australia'
 'McMahons Creek, Australia' 'Mcmahons Creek, Australia'
 'Meadow Heights, Australia' 'Melborne, Australia'
 'Melbourne (Eltham), Australia' 'Melbourne , Australia'
 'Melbourne CBD, Australia' 'Melbourne City, Australia'
 'Melbourne VIC 3000, Australia' 'Melbourne VIC 3004, Australia'
 'Melbourne Victoria, Australia' 'Melbourne, Australia'
 'Melbourne, Victoria, AU, Australia'
 'Melton South ( STRATHTULLOH), Australia' 'Melton South, Australia'
 'Melton West, Australia' 'Mentone, Australia' 'Menzies Creek, Australia'
 'Mernda, Australia' 'Mickleham, Australia'
 'Middle Park Melbourne, Australia' 'Middle Park, Australia'
 'Mill Park, Australia' 'Millgrove, Australia' 'Mitcham, Australia'
 'Mlebourne, Australia' 'Monbulk, Australia'
 'Mont Albert North, Australia' 'Mont Albert, Australia'
 'Montmorency, Australia' 'Montrose, Australia' 'Moonee Ponds, Australia'
 'Moorabbin, Australia' 'Mooroolbark, Australia' 'Mordialloc, Australia'
 'Moreland City, Australia' 'Mount Cottrell, Australia'
 'Mount Dandenong, Australia' 'Mount Eliza, Australia'
 'Mount Evelyn, Australia' 'Mount Toolebewong, Australia'
 'Mount Waverley, Australia' 'Mt Dandenong, Australia'
 'Mt Waverley, Australia' 'Mulgrave, Australia' 'Murrumbeena, Australia'
 'Nar Nar Goon North, Australia' 'Narbethong, Australia'
 'Narre Warren North, Australia' 'Narre Warren South, Australia'
 'Narre Warren, Australia' 'Newport, Australia' 'Niddrie, Australia'
 'Noble Park North, Australia' 'Noble Park, Australia'
 'North Fitzroy , Australia' 'North Fitzroy, Australia'
 'North Melbourne, Australia' 'North Melbourne, Victoria, AU, Australia'
 'North Warrandyte, Australia' 'Northcote South, Australia'
 'Northcote, Australia' 'Northcote, Victoria, AU, Australia'
 'Notting Hill, Australia' 'Nunawading, Australia' 'Oak Park, Australia'
 'Oaklands Junction, Australia' 'Oaklands junction , Australia'
 'Oakleigh East, Australia' 'Oakleigh South, Australia'
 'Oakleigh, Australia' 'Officer South, Australia' 'Officer, Australia'
 'Olinda, Australia' 'Ormond, Australia' 'Pakenham , Australia'
 'Pakenham Upper, Australia' 'Pakenham, Australia'
 'Panton Hill, Australia' 'Park Orchards, Australia' 'Parkdale, Australia'
 'Parkville, Australia' 'Pascoe Vale South, Australia'
 'Pascoe Vale, Australia' 'Patterson Lakes, Australia'
 'Pearcedale, Australia' 'Plumpton, Australia' 'Point Cook, Australia'
 'Port Melbourne , Australia' 'Port Melbourne, Australia'
 'Port Phillip City, Australia' 'Powelltown, Australia'
 'Praharan , Australia' 'Prahran / Toorak , Australia'
 'Prahran, Australia' 'Preston West, Australia' 'Preston, Australia'
 'Princes Hill, Australia' 'Research, Australia' 'Reservoir, Australia'
 'Richmond , Australia' 'Richmond, Australia'
 'Richmond, Victoria, AU, Australia' 'Ringwood East, Australia'
 'Ringwood North, Australia' 'Ringwood, Australia'
 'Ripponlea (East St Kilda), Australia' 'Ripponlea, Australia'
 'Rockbank, Australia' 'Rosanna, Australia' 'Rowville, Australia'
 'Roxburgh Park, Australia' 'STRATHTULLOH, Australia'
 'STRTHTULLOCH, Australia' 'Saint Albans, Australia'
 'Saint Andrews, Australia' 'Saint Helena, Australia'

In [249]:
#strip leading and trailing space

 

ListingCleanDTypes['city'] = ListingCleanDTypes['city'].str.strip()
ListingCleanDTypes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22895 entries, 0 to 22894
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           22895 non-null  int64
 1   scrape_id                    22895 non-null  float64
 2   last_scraped                 22895 non-null  object
 3   host_id                      22895 non-null  int64
 4   host_name                    22895 non-null  object
 5   host_is_superhost            22895 non-null  object
 6   host_total_listings_count    22895 non-null  int64
 7   street                       22895 non-null  object
 8   neighbourhood_cleansed       22895 non-null  object
 9   city                         22895 non-null  object
 10  state                        22895 non-null  object
 11  zipcode                      22895 non-null  object
 12  smart_location               22895 non-null  object
 13  country_code                 22895 non-null  object
 14  country                      22895 non-null  object
 15  latitude                     22895 non-null  float64
 16  longitude                    22895 non-null  float64
 17  property_type                22895 non-null  object
 18  room_type                    22895 non-null  object
 19  accommodates                 22895 non-null  int64
 20  bathrooms                    22895 non-null  float64
 21  bedrooms                     22895 non-null  float64
 22  beds                         22895 non-null  float64
 23  bed_type                     22895 non-null  object
 24  amenities                    22895 non-null  object
 25  price                        22895 non-null  float64
 26  weekly_price                 22895 non-null  float64
 27  monthly_price                22895 non-null  float64
 28  security_deposit             22895 non-null  float64
 29  cleaning_fee                 22895 non-null  float64
 30  guests_included              22895 non-null  int64
 31  extra_people                 22895 non-null  float64
 32  minimum_nights               22895 non-null  int64
 33  maximum_nights               22895 non-null  int64
 34  has_availability             22895 non-null  object
 35  availability_30              22895 non-null  int64
 36  availability_60              22895 non-null  int64
 37  availability_90              22895 non-null  int64
 38  availability_365             22895 non-null  int64
 39  number_of_reviews            22895 non-null  int64
 40  review_scores_rating         22895 non-null  int64
 41  review_scores_accuracy       22895 non-null  int64
 42  review_scores_cleanliness    22895 non-null  int64
 43  review_scores_checkin        22895 non-null  int64
 44  review_scores_communication  22895 non-null  int64
 45  review_scores_location       22895 non-null  int64
 46  review_scores_value          22895 non-null  int64
 47  reviews_per_month            22895 non-null  float64
dtypes: float64(13), int64(19), object(16)
memory usage: 8.4+ MB

In [250]:
print("")
c = ListingCleanDTypes["city"].unique()
c.sort()
print (c)

['Abbotsford' 'Abbotsford, Melbourne' 'Aberfeldie' 'Airport West'
 'Albanvale' 'Albert Park' 'Albert Park. Melbourne' 'Albion' 'Alphington'
 'Altona' 'Altona Meadows' 'Altona North' 'Armadale' 'Armadale North'
 'Ascot Vale' 'Ashburton' 'Ashwood' 'Aspendale' 'Aspendale Gardens'
 'Attwood' 'Avondale Heights' 'BRUNSWICK EAST' 'Badger Creek' 'Balaclava'
 'Balwyn' 'Balwyn North' 'Bangholme' 'Bayles' 'Bayswater'
 'Bayswater North' 'Beaconsfield' 'Beaconsfield Upper' 'Beaumaris'
 'Belgrave' 'Belgrave Heights' 'Bellfield' 'Bentleigh' 'Bentleigh East'
 'Berwick' 'Beveridge' 'Big Pats Creek' 'Black Rock' 'Blackburn'
 'Blackburn North' 'Blackburn South' 'Bonbeach' 'Boronia' 'Botanic Ridge'
 'Box Hill' 'Box Hill North' 'Box Hill South' 'Braybrook' 'Briar Hill'
 'Brighton' 'Brighton East' 'Brighton East, Melbourne' 'Brimbank City'
 'Brisbane' 'Broadmeadows' 'Brookfield' 'Brooklyn' 'Brunswick'
 'Brunswick / Melbourne' 'Brunswick East' 'Brunswick East, Melbourne'
 'Brunswick VIC 3056' 'Brunswick West' 'Brunswick West, Melbourne'
 'Brunswick west' 'Bulla' 'Bulleen' 'Bundoora' 'Bunyip' 'Burnley'
 'Burnside' 'Burnside Heights' 'Burwood' 'Burwood East' 'Cairnlea'
 'Camberwell' 'Canterbury' 'Cardinia' 'Cardinia Shire' 'Carlton'
 'Carlton North' 'Carlton South' 'Carlton, Melbourne' 'Carnegie'
 'Caroline Springs' 'Carrum' 'Carrum Downs' 'Caulfield' 'Caulfield East'
 'Caulfield North' 'Caulfield South' 'Chadstone' 'Chelsea'
 'Chelsea Heights' 'Cheltenham' 'Chirnside Park' 'Christmas Hills'
 'Chum Creek' 'Chum Creek/Healesville' 'City of Port Phillip' 'Clarinda'
 'Clayton' 'Clayton South' 'Clematis' 'Clifton Hill' 'Clyde North'
 'Coburg' 'Coburg (Melbourne)' 'Coburg North' 'Cockatoo' 'Coldstream'
 'Collingwood' 'Collingwood, Melbourne' 'Cora Lynn' 'Cottles Bridge'
 'Craigieburn' 'Cranbourne' 'Cranbourne East' 'Cranbourne North'
 'Cranbourne South' 'Cranbourne West' 'Cremorne' 'Croydon' 'Croydon North'
 'Croydon South' 'Dallas' 'Dandenong' 'Dandenong North' 'Dandenong Ranges'
 'Dandenong South' 'Deer Park' 'Delahey' 'Derrimut' 'Diamond Creek'
 'Diggers Rest' 'Dingley Village' 'Dixons Creek' 'Dockland' 'Docklands'
 'Don Valley' 'Doncaster' 'Doncaster East' 'Doncaster VIC 3108'
 'Doncasterï¼ŒMelbourne' 'Donnybrook' 'Donvale' 'Doreen' 'Doveton'
 'Eaglemont' 'East Brunswick' 'East Doncaster' 'East Melbourne'
 'East St. Kilda' 'East Warburton' 'East st kilda' 'Eden Park' 'Edithvale'
 'Elsternwick' 'Eltham' 'Eltham North' 'Elwood' 'Elwood, Melbourne'
 'Elwood, St. Kilda' 'Emerald' 'Endeavour Hills' 'Epping' 'Essendon'
 'Essendon North' 'Essendon West' 'Essendon, Victoria, AU' 'Eumemmerring'
 'Eynesbury' 'FITZROY' 'Fairfield' 'Fawkner' 'Ferntree Gully'
 'Ferny Creek' 'Fitzroy' 'Fitzroy North' 'Fitzroy, Melbourne'
 'Fitzroy, Victoria, AU' 'Flemington' 'Footscray' 'Forest Hill'
 'Frankston' 'Frankston North' 'Frankston South' 'Gardenvale'
 'Garfield North' 'Gembrook' 'Gilderoy' 'Gladstone Park' 'Gladysdale'
 'Glen Huntly' 'Glen Iris' 'Glen Iris, Victoria, AU' 'Glen Waverley'
 'Glenroy' 'Gowanbrae' 'Greensborough' 'Greenvale' 'Gruyere' 'Guys Hill'
 'HEIDELBERG' 'HEIDELBERG WEST' 'Hadfield' 'Hallam' 'Hampton'
 'Hampton East' 'Hampton Park' 'Harkaway' 'Hawthorn' 'Hawthorn East'
 'Hawthorn east' 'Hawthorn, Melbourne' 'Healesville' 'Heatherton'
 'Heathmont' 'Heidelberg' 'Heidelberg Heights' 'Heidelberg West' 'Highett'
 'Hillside' 'Hoddles Creek' 'Holmesglen' 'Hoppers Crossing' 'Hughesdale'
 'Humevale' 'Huntingdale' 'Hurstbridge' 'Iona' 'Ivanhoe'
 'Ivanhoe (Melbourne)' 'Ivanhoe East' 'Jacana' 'Kallista' 'Kalorama'
 'Kangaroo Ground' 'Kangaroo ground' 'Kealba' 'Keilor' 'Keilor Downs'
 'Keilor East' 'Keilor Lodge' 'Keilor Park' 'Kensington' 'Kew' 'Kew East'
 'Kew East, Victoria, AU' 'Keysborough' 'Kilsyth' 'Kilsyth South'
 'Kinglake West' 'Kings Park' 'Kingsbury' 'Kingsville' 'Knoxfield'
 'Kooyong' 'Kurunjang' 'Lalor' 'Langwarrin' 'Langwarrin South'
 'Launching Place' 'Laverton' 'Lilydale' 'Little River' 'Lower Plenty'
 'Lynbrook' 'Lyndhurst' 'Lysterfield' 'Macclesfield' 'Macleod' 'Maidstone'
 'Malvern' 'Malvern East' 'Malvern, Melbourne' 'Manningham' 'Manor Lakes'
 'Maribyrnong' 'Maribyrnong, Melbourne' 'McKinnon' 'McMahons Creek'
 'Mcmahons Creek' 'Meadow Heights' 'Melborne' 'Melbourne'
 'Melbourne (Eltham)' 'Melbourne CBD' 'Melbourne City'
 'Melbourne VIC 3000' 'Melbourne VIC 3004' 'Melbourne Victoria'
 'Melbourne, Victoria, AU' 'Melton South' 'Melton South ( STRATHTULLOH)'
 'Melton West' 'Mentone' 'Menzies Creek' 'Mernda' 'Mickleham'
 'Middle Park' 'Middle Park Melbourne' 'Mill Park' 'Millgrove' 'Missing'
 'Mitcham' 'Mlebourne' 'Monbulk' 'Mont Albert' 'Mont Albert North'
 'Montmorency' 'Montrose' 'Moonee Ponds' 'Moorabbin' 'Mooroolbark'
 'Mordialloc' 'Moreland City' 'Mount Cottrell' 'Mount Dandenong'
 'Mount Eliza' 'Mount Evelyn' 'Mount Toolebewong' 'Mount Waverley'
 'Mt Dandenong' 'Mt Waverley' 'Mulgrave' 'Murrumbeena'
 'Nar Nar Goon North' 'Narbethong' 'Narre Warren' 'Narre Warren North'
 'Narre Warren South' 'Newport' 'Niddrie' 'Noble Park' 'Noble Park North'
 'North Fitzroy' 'North Melbourne' 'North Melbourne, Victoria, AU'
 'North Warrandyte' 'Northcote' 'Northcote South'
 'Northcote, Victoria, AU' 'Notting Hill' 'Nunawading' 'Oak Park'
 'Oaklands Junction' 'Oaklands junction' 'Oakleigh' 'Oakleigh East'
 'Oakleigh South' 'Officer' 'Officer South' 'Olinda' 'Ormond' 'Pakenham'
 'Pakenham Upper' 'Panton Hill' 'Park Orchards' 'Parkdale' 'Parkville'
 'Pascoe Vale' 'Pascoe Vale South' 'Patterson Lakes' 'Pearcedale'
 'Plumpton' 'Point Cook' 'Port Melbourne' 'Port Phillip City' 'Powelltown'
 'Praharan' 'Prahran' 'Prahran / Toorak' 'Preston' 'Preston West'
 'Princes Hill' 'Research' 'Reservoir' 'Richmond' 'Richmond, Victoria, AU'
 'Ringwood' 'Ringwood East' 'Ringwood North' 'Ripponlea'
 'Ripponlea (East St Kilda)' 'Rockbank' 'Rosanna' 'Rowville'
 'Roxburgh Park' 'STRATHTULLOH' 'STRTHTULLOCH' 'Saint Albans'
 'Saint Andrews' 'Saint Helena' 'Saint Kilda' 'Saint Kilda Beach'
 'Saint Kilda East' 'Saint Kilda West' 'Saint Kilda, Victoria, AU'
 'Sandhurst' 'Sandringham' 'Sassafras' 'Scoresby' 'Seabrook' 'Seaford'
 'Seaholme' 'Seddon' 'Selby' 'Seville' 'Seville East' 'Sherbrooke'
 'Silvan' 'Smiths Gully' 'Somerton VIC 3062' 'South Kingsville'
 'South Melbourne' 'South Melbourne, Melbourne' 'South Morang'
 'South Wharf' 'South Yarra' 'South Yarra VIC 3141'
 'South Yarra, Victoria, AU' 'Southbank' 'Southbank Melbourne'
 'Southbank, Melbourne' 'Southbank, Victoria, AU' 'Spotswood' 'Springvale'
 'Springvale South' 'St Andrews' 'St Kilda' 'St Kilda / Elwood'
 'St Kilda East' 'St Kilda West' 'St Kilda West Melbourne' 'St Kilda east'
 'St kilda' 'St. Andrews' 'St. Kilda' 'St. Kilda West' 'St.Kilda East'
 'StKilda East' 'Steels Creek' 'Strathewen' 'Strathmore' 'Strathtulloh'
 'Sunbury' 'Sunshine' 'Sunshine North' 'Sunshine West' 'Surrey Hills'
 'Surrey Hills, Victoria, AU' 'Sydenham' 'Tarneit' 'Tarrawarra'
 'Taylors Hill' 'Tecoma' 'Templestowe' 'Templestowe Lower' 'The Basin'
 'The Patch' 'Thomastown' 'Thornbury' 'Thornbury, Victoria, AU' 'Tonimbuk'
 'Toolangi' 'Toolern Vale' 'Tooradin' 'Toorak' 'Toorak, Melbourne.'
 'Travancore' 'Tremont' 'Truganina' 'Truganina, Victoria, AU'
 'Tullamarine' 'Upper Ferntree Gully' 'Upwey' 'VIC' 'Vermont'
 'Vermont South' 'Victoria' 'Viewbank' 'Wandin East' 'Wandin North'
 'Wantirna' 'Wantirna South' 'Wantirna South VIC 3152' 'Wantirna south'
 'Warburton' 'Warneet' 'Warrandyte' 'Warrandyte South' 'Warranwood'
 'Waterways' 'Watsonia' 'Watsonia North' 'Watsons Creek' 'Wattle Glen'
 'Werribee' 'Werribee South' 'Wesburn' 'Wesburn,10minutes to Warburton'
 'West Footscray' 'West Melbourne' 'West Melbourne - flagstaff'
 'Westmeadows' 'Wheelers' 'Wheelers Hill' 'Wheelers Hill VIC 3150'
 'Whitehorse City' 'Whittlesea' 'Williams Landing' 'Williamstown'
 'Williamstown North' 'Windsor' 'Wollert' 'Wonga Park' 'Woori Yallock'
 'Wyndham City' 'Wyndham Vale' 'Yarra Glen' 'Yarra Glen, Victoria, AU'
 'Yarra Junction' 'Yarra Ranges Shire'
 'Yarra Valley, Yarra Glen, Healesville' 'Yarraville' 'Yellingbo'
 'Yellingbo, Yarra Valley' 'Yering' 'Yuroke' 'brunswick' 'clayton'
 'clayton south' 'eaglemont' 'melbourne' 'st kilda' 'å¢¨å°”æœ¬'
 'å¢¨çˆ¾æœ¬ Melbourne' 'èŠ’ç‰¹éŸ¦å¼—åˆ©åŒº']

In [251]:
ListingCleanDrop2[ListingCleanDrop2.city == "City of Port Phillip"]

,id,scrape_id,last_scraped,host_id,host_name,host_is_superhost,host_total_listings_count,street,neighbourhood_cleansed,city,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
4872,11192596,2.020000e+13,7/12/18,58275305,Brad,f,1,"City of Port Phillip, VIC, Australia",Port Phillip,City of Port Phillip,...,327,7,97,10,9,97,10,10,10,0.22

In [252]:
ListingCleanDrop2[ListingCleanDrop2.city == "VIC"]

,id,scrape_id,last_scraped,host_id,host_name,host_is_superhost,host_total_listings_count,street,neighbourhood_cleansed,city,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
11534,20401547,2.020000e+13,7/12/18,130415824,Lyn,f,14,"VIC, VIC, Australia",Melbourne,VIC,...,298,22,91,9,9,91,9,10,9,1.38
14959,22841285,2.020000e+13,7/12/18,130415824,Lyn,f,14,"VIC, VIC, Australia",Melbourne,VIC,...,298,7,94,10,9,94,10,10,10,0.73
14960,22841579,2.020000e+13,7/12/18,130415824,Lyn,f,14,"VIC, VIC, Australia",Melbourne,VIC,...,298,6,93,10,10,93,9,10,9,0.59
22174,30238833,2.020000e+13,7/12/18,130415824,Lyn,f,14,"VIC, VIC, Australia",Melbourne,VIC,...,302,0,0,0,0,0,0,0,0,0.00

In [253]:
ListingCleanDrop2[ListingCleanDrop2.city == "å¢¨çˆ¾æœ¬ Melbourne"]

,id,scrape_id,last_scraped,host_id,host_name,host_is_superhost,host_total_listings_count,street,neighbourhood_cleansed,city,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
11645,20527741,2.020000e+13,7/12/18,146552336,Melody,f,2,"å¢¨çˆ¾æœ¬ Melbourne, ç¶­å¤šåˆ©äºž VIC, Australia",Melbourne,å¢¨çˆ¾æœ¬ Melbourne,...,48,23,96,10,10,96,10,10,10,1.57

In [254]:
'å¢¨å°”æœ¬'
ListingCleanDrop2[ListingCleanDrop2.city == "å¢¨å°”æœ¬"]

,id,scrape_id,last_scraped,host_id,host_name,host_is_superhost,host_total_listings_count,street,neighbourhood_cleansed,city,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
1165,3658967,2.020000e+13,7/12/18,18541709,Jason,f,1,"å¢¨å°”æœ¬, ç»´å¤šåˆ©äºšå·ž, Australia",Manningham,å¢¨å°”æœ¬,...,365,0,0,0,0,0,0,0,0,0.00
7272,15516535,2.020000e+13,7/12/18,81743692,Zhang,f,3,"å¢¨å°”æœ¬, ç»´å¤šåˆ©äºš, Australia",Manningham,å¢¨å°”æœ¬,...,37,7,83,8,9,83,8,8,8,0.33
8670,16870277,2.020000e+13,7/12/18,112427684,Su,f,1,"å¢¨å°”æœ¬, ç»´å¤šåˆ©äºšå·ž, Australia",Wyndham,å¢¨å°”æœ¬,...,87,0,0,0,0,0,0,0,0,0.00
18884,27338685,2.020000e+13,7/12/18,192203819,Rebecca,f,1,"å¢¨å°”æœ¬, ç»´å¤šåˆ©äºš, Australia",Manningham,å¢¨å°”æœ¬,...,3,0,0,0,0,0,0,0,0,0.00
19697,28270692,2.020000e+13,7/12/18,202392882,ç‘›,f,1,"å¢¨å°”æœ¬, VIC, Australia",Glen Eira,å¢¨å°”æœ¬,...,0,0,0,0,0,0,0,0,0,0.00

In [255]:

ListingCleanDrop2[ListingCleanDrop2.city == "èŠ’ç‰¹éŸ¦å¼—åˆ©åŒº"]

,id,scrape_id,last_scraped,host_id,host_name,host_is_superhost,host_total_listings_count,street,neighbourhood_cleansed,city,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
873,2622804,2.020000e+13,7/12/18,9610062,Catherine,f,1,"èŠ’ç‰¹éŸ¦å¼—åˆ©åŒº, VIC, Australia",Monash,èŠ’ç‰¹éŸ¦å¼—åˆ©åŒº,...,123,1,80,10,10,80,10,10,10,0.02

In [256]:
ListingCleanDTypes

,id,scrape_id,last_scraped,host_id,host_name,host_is_superhost,host_total_listings_count,street,neighbourhood_cleansed,city,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,9835,2.020000e+13,7/12/18,33057,Manju,f,1,"Bulleen, VIC, Australia",Manningham,Bulleen,...,365,4,90,9,10,90,10,9,9,0.04
1,10803,2.020000e+13,7/12/18,38901,Lindsay,f,1,"Brunswick East, VIC, Australia",Moreland,Brunswick East,...,213,108,87,9,8,87,9,9,9,1.50
2,12936,2.020000e+13,7/12/18,50121,Frank & Vince,t,17,"St Kilda, VIC, Australia",Port Phillip,St Kilda,...,326,15,94,9,10,94,9,9,9,0.15
3,15246,2.020000e+13,7/12/18,59786,Eleni,f,3,"Thornbury, VIC, Australia",Darebin,Thornbury,...,0,29,94,9,9,94,10,9,9,0.30
4,16760,2.020000e+13,7/12/18,65090,Colin,f,1,"St Kilda East, VIC, Australia",Port Phillip,St Kilda East,...,328,63,90,9,9,90,10,10,9,0.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22890,30592332,2.020000e+13,7/12/18,229206629,Yolanda,f,1,"Carlton, VIC, Australia",Melbourne,Carlton,...,82,0,0,0,0,0,0,0,0,0.00
22891,30592345,2.020000e+13,7/12/18,150660631,Mary And Lizz,f,2,"Melton South, VIC, Australia",Melton,Melton South,...,365,0,0,0,0,0,0,0,0,0.00
22892,30592362,2.020000e+13,7/12/18,130394565,ç³,f,1,"Glen Waverley, VIC, Australia",Monash,Glen Waverley,...,15,0,0,0,0,0,0,0,0,0.00
22893,30592590,2.020000e+13,7/12/18,22630928,Karin,f,17,"Southbank, VIC, Australia",Melbourne,Southbank,...,349,0,0,0,0,0,0,0,0,0.00
22894,30593623,2.020000e+13,7/12/18,38305445,Nica,f,1,"Carlton, VIC, Australia",Melbourne,Carlton,...,68,0,0,0,0,0,0,0,0,0.00

In [257]:
#Fix spelling mistake
#titanic["Sex_short"] = titanic["Sex"].replace({"male": "M", "female": "F"})
ListingCleanDTypes["city"] = ListingCleanDTypes["city"].replace({"Abbotsford, Melbourne":"Abbotsford"})
print("")
c = ListingCleanDTypes["city"].unique()
c.sort()
print (c)

['Abbotsford' 'Aberfeldie' 'Airport West' 'Albanvale' 'Albert Park'
 'Albert Park. Melbourne' 'Albion' 'Alphington' 'Altona' 'Altona Meadows'
 'Altona North' 'Armadale' 'Armadale North' 'Ascot Vale' 'Ashburton'
 'Ashwood' 'Aspendale' 'Aspendale Gardens' 'Attwood' 'Avondale Heights'
 'BRUNSWICK EAST' 'Badger Creek' 'Balaclava' 'Balwyn' 'Balwyn North'
 'Bangholme' 'Bayles' 'Bayswater' 'Bayswater North' 'Beaconsfield'
 'Beaconsfield Upper' 'Beaumaris' 'Belgrave' 'Belgrave Heights'
 'Bellfield' 'Bentleigh' 'Bentleigh East' 'Berwick' 'Beveridge'
 'Big Pats Creek' 'Black Rock' 'Blackburn' 'Blackburn North'
 'Blackburn South' 'Bonbeach' 'Boronia' 'Botanic Ridge' 'Box Hill'
 'Box Hill North' 'Box Hill South' 'Braybrook' 'Briar Hill' 'Brighton'
 'Brighton East' 'Brighton East, Melbourne' 'Brimbank City' 'Brisbane'
 'Broadmeadows' 'Brookfield' 'Brooklyn' 'Brunswick'
 'Brunswick / Melbourne' 'Brunswick East' 'Brunswick East, Melbourne'
 'Brunswick VIC 3056' 'Brunswick West' 'Brunswick West, Melbourne'
 'Brunswick west' 'Bulla' 'Bulleen' 'Bundoora' 'Bunyip' 'Burnley'
 'Burnside' 'Burnside Heights' 'Burwood' 'Burwood East' 'Cairnlea'
 'Camberwell' 'Canterbury' 'Cardinia' 'Cardinia Shire' 'Carlton'
 'Carlton North' 'Carlton South' 'Carlton, Melbourne' 'Carnegie'
 'Caroline Springs' 'Carrum' 'Carrum Downs' 'Caulfield' 'Caulfield East'
 'Caulfield North' 'Caulfield South' 'Chadstone' 'Chelsea'
 'Chelsea Heights' 'Cheltenham' 'Chirnside Park' 'Christmas Hills'
 'Chum Creek' 'Chum Creek/Healesville' 'City of Port Phillip' 'Clarinda'
 'Clayton' 'Clayton South' 'Clematis' 'Clifton Hill' 'Clyde North'
 'Coburg' 'Coburg (Melbourne)' 'Coburg North' 'Cockatoo' 'Coldstream'
 'Collingwood' 'Collingwood, Melbourne' 'Cora Lynn' 'Cottles Bridge'
 'Craigieburn' 'Cranbourne' 'Cranbourne East' 'Cranbourne North'
 'Cranbourne South' 'Cranbourne West' 'Cremorne' 'Croydon' 'Croydon North'
 'Croydon South' 'Dallas' 'Dandenong' 'Dandenong North' 'Dandenong Ranges'
 'Dandenong South' 'Deer Park' 'Delahey' 'Derrimut' 'Diamond Creek'
 'Diggers Rest' 'Dingley Village' 'Dixons Creek' 'Dockland' 'Docklands'
 'Don Valley' 'Doncaster' 'Doncaster East' 'Doncaster VIC 3108'
 'Doncasterï¼ŒMelbourne' 'Donnybrook' 'Donvale' 'Doreen' 'Doveton'
 'Eaglemont' 'East Brunswick' 'East Doncaster' 'East Melbourne'
 'East St. Kilda' 'East Warburton' 'East st kilda' 'Eden Park' 'Edithvale'
 'Elsternwick' 'Eltham' 'Eltham North' 'Elwood' 'Elwood, Melbourne'
 'Elwood, St. Kilda' 'Emerald' 'Endeavour Hills' 'Epping' 'Essendon'
 'Essendon North' 'Essendon West' 'Essendon, Victoria, AU' 'Eumemmerring'
 'Eynesbury' 'FITZROY' 'Fairfield' 'Fawkner' 'Ferntree Gully'
 'Ferny Creek' 'Fitzroy' 'Fitzroy North' 'Fitzroy, Melbourne'
 'Fitzroy, Victoria, AU' 'Flemington' 'Footscray' 'Forest Hill'
 'Frankston' 'Frankston North' 'Frankston South' 'Gardenvale'
 'Garfield North' 'Gembrook' 'Gilderoy' 'Gladstone Park' 'Gladysdale'
 'Glen Huntly' 'Glen Iris' 'Glen Iris, Victoria, AU' 'Glen Waverley'
 'Glenroy' 'Gowanbrae' 'Greensborough' 'Greenvale' 'Gruyere' 'Guys Hill'
 'HEIDELBERG' 'HEIDELBERG WEST' 'Hadfield' 'Hallam' 'Hampton'
 'Hampton East' 'Hampton Park' 'Harkaway' 'Hawthorn' 'Hawthorn East'
 'Hawthorn east' 'Hawthorn, Melbourne' 'Healesville' 'Heatherton'
 'Heathmont' 'Heidelberg' 'Heidelberg Heights' 'Heidelberg West' 'Highett'
 'Hillside' 'Hoddles Creek' 'Holmesglen' 'Hoppers Crossing' 'Hughesdale'
 'Humevale' 'Huntingdale' 'Hurstbridge' 'Iona' 'Ivanhoe'
 'Ivanhoe (Melbourne)' 'Ivanhoe East' 'Jacana' 'Kallista' 'Kalorama'
 'Kangaroo Ground' 'Kangaroo ground' 'Kealba' 'Keilor' 'Keilor Downs'
 'Keilor East' 'Keilor Lodge' 'Keilor Park' 'Kensington' 'Kew' 'Kew East'
 'Kew East, Victoria, AU' 'Keysborough' 'Kilsyth' 'Kilsyth South'
 'Kinglake West' 'Kings Park' 'Kingsbury' 'Kingsville' 'Knoxfield'
 'Kooyong' 'Kurunjang' 'Lalor' 'Langwarrin' 'Langwarrin South'
 'Launching Place' 'Laverton' 'Lilydale' 'Little River' 'Lower Plenty'
 'Lynbrook' 'Lyndhurst' 'Lysterfield' 'Macclesfield' 'Macleod' 'Maidstone'
 'Malvern' 'Malvern East' 'Malvern, Melbourne' 'Manningham' 'Manor Lakes'
 'Maribyrnong' 'Maribyrnong, Melbourne' 'McKinnon' 'McMahons Creek'
 'Mcmahons Creek' 'Meadow Heights' 'Melborne' 'Melbourne'
 'Melbourne (Eltham)' 'Melbourne CBD' 'Melbourne City'
 'Melbourne VIC 3000' 'Melbourne VIC 3004' 'Melbourne Victoria'
 'Melbourne, Victoria, AU' 'Melton South' 'Melton South ( STRATHTULLOH)'
 'Melton West' 'Mentone' 'Menzies Creek' 'Mernda' 'Mickleham'
 'Middle Park' 'Middle Park Melbourne' 'Mill Park' 'Millgrove' 'Missing'
 'Mitcham' 'Mlebourne' 'Monbulk' 'Mont Albert' 'Mont Albert North'
 'Montmorency' 'Montrose' 'Moonee Ponds' 'Moorabbin' 'Mooroolbark'
 'Mordialloc' 'Moreland City' 'Mount Cottrell' 'Mount Dandenong'
 'Mount Eliza' 'Mount Evelyn' 'Mount Toolebewong' 'Mount Waverley'
 'Mt Dandenong' 'Mt Waverley' 'Mulgrave' 'Murrumbeena'
 'Nar Nar Goon North' 'Narbethong' 'Narre Warren' 'Narre Warren North'
 'Narre Warren South' 'Newport' 'Niddrie' 'Noble Park' 'Noble Park North'
 'North Fitzroy' 'North Melbourne' 'North Melbourne, Victoria, AU'
 'North Warrandyte' 'Northcote' 'Northcote South'
 'Northcote, Victoria, AU' 'Notting Hill' 'Nunawading' 'Oak Park'
 'Oaklands Junction' 'Oaklands junction' 'Oakleigh' 'Oakleigh East'
 'Oakleigh South' 'Officer' 'Officer South' 'Olinda' 'Ormond' 'Pakenham'
 'Pakenham Upper' 'Panton Hill' 'Park Orchards' 'Parkdale' 'Parkville'
 'Pascoe Vale' 'Pascoe Vale South' 'Patterson Lakes' 'Pearcedale'
 'Plumpton' 'Point Cook' 'Port Melbourne' 'Port Phillip City' 'Powelltown'
 'Praharan' 'Prahran' 'Prahran / Toorak' 'Preston' 'Preston West'
 'Princes Hill' 'Research' 'Reservoir' 'Richmond' 'Richmond, Victoria, AU'
 'Ringwood' 'Ringwood East' 'Ringwood North' 'Ripponlea'
 'Ripponlea (East St Kilda)' 'Rockbank' 'Rosanna' 'Rowville'
 'Roxburgh Park' 'STRATHTULLOH' 'STRTHTULLOCH' 'Saint Albans'
 'Saint Andrews' 'Saint Helena' 'Saint Kilda' 'Saint Kilda Beach'
 'Saint Kilda East' 'Saint Kilda West' 'Saint Kilda, Victoria, AU'
 'Sandhurst' 'Sandringham' 'Sassafras' 'Scoresby' 'Seabrook' 'Seaford'
 'Seaholme' 'Seddon' 'Selby' 'Seville' 'Seville East' 'Sherbrooke'
 'Silvan' 'Smiths Gully' 'Somerton VIC 3062' 'South Kingsville'
 'South Melbourne' 'South Melbourne, Melbourne' 'South Morang'
 'South Wharf' 'South Yarra' 'South Yarra VIC 3141'
 'South Yarra, Victoria, AU' 'Southbank' 'Southbank Melbourne'
 'Southbank, Melbourne' 'Southbank, Victoria, AU' 'Spotswood' 'Springvale'
 'Springvale South' 'St Andrews' 'St Kilda' 'St Kilda / Elwood'
 'St Kilda East' 'St Kilda West' 'St Kilda West Melbourne' 'St Kilda east'
 'St kilda' 'St. Andrews' 'St. Kilda' 'St. Kilda West' 'St.Kilda East'
 'StKilda East' 'Steels Creek' 'Strathewen' 'Strathmore' 'Strathtulloh'
 'Sunbury' 'Sunshine' 'Sunshine North' 'Sunshine West' 'Surrey Hills'
 'Surrey Hills, Victoria, AU' 'Sydenham' 'Tarneit' 'Tarrawarra'
 'Taylors Hill' 'Tecoma' 'Templestowe' 'Templestowe Lower' 'The Basin'
 'The Patch' 'Thomastown' 'Thornbury' 'Thornbury, Victoria, AU' 'Tonimbuk'
 'Toolangi' 'Toolern Vale' 'Tooradin' 'Toorak' 'Toorak, Melbourne.'
 'Travancore' 'Tremont' 'Truganina' 'Truganina, Victoria, AU'
 'Tullamarine' 'Upper Ferntree Gully' 'Upwey' 'VIC' 'Vermont'
 'Vermont South' 'Victoria' 'Viewbank' 'Wandin East' 'Wandin North'
 'Wantirna' 'Wantirna South' 'Wantirna South VIC 3152' 'Wantirna south'
 'Warburton' 'Warneet' 'Warrandyte' 'Warrandyte South' 'Warranwood'
 'Waterways' 'Watsonia' 'Watsonia North' 'Watsons Creek' 'Wattle Glen'
 'Werribee' 'Werribee South' 'Wesburn' 'Wesburn,10minutes to Warburton'
 'West Footscray' 'West Melbourne' 'West Melbourne - flagstaff'
 'Westmeadows' 'Wheelers' 'Wheelers Hill' 'Wheelers Hill VIC 3150'
 'Whitehorse City' 'Whittlesea' 'Williams Landing' 'Williamstown'
 'Williamstown North' 'Windsor' 'Wollert' 'Wonga Park' 'Woori Yallock'
 'Wyndham City' 'Wyndham Vale' 'Yarra Glen' 'Yarra Glen, Victoria, AU'
 'Yarra Junction' 'Yarra Ranges Shire'
 'Yarra Valley, Yarra Glen, Healesville' 'Yarraville' 'Yellingbo'
 'Yellingbo, Yarra Valley' 'Yering' 'Yuroke' 'brunswick' 'clayton'
 'clayton south' 'eaglemont' 'melbourne' 'st kilda' 'å¢¨å°”æœ¬'
 'å¢¨çˆ¾æœ¬ Melbourne' 'èŠ’ç‰¹éŸ¦å¼—åˆ©åŒº']

In [266]:
#ListingCleanDTypes["city"] = ListingCleanDTypes["city"].replace({"Abbotsford, Melbourne":"Abbotsford","Albert Park. Melbourne":"Albert Park","BRUNSWICK EAST":"Brunswick East,","Brunswick / Melbourne":"Brunswick","Brunswick East, Melbourne":"Brunswick East","Brunswick VIC 3056":"Brunswick","Brunswick West, Melbourne":"Brunswick West","Brunswick west":"Brunswick West","Carlton, Melbourne":"Carlton","Chum Creek/Healesville":"Chum Creek","Coburg (Melbourne)":"Coburg","Collingwood, Melbourne":"Collingwood","Dockland ":"Docklands","Doncaster VIC 3108":"Doncaster","Doncasterï¼Œmelbourne":"Doncaster","East st kilda ":"East St Kilda","Elwood, Melbourne":"Elwood","Elwood, St. Kilda":"Elwood","Elwood, St. Kilda ":"Elwood","Essendon, Victoria, AU":"Essendon","FITZROY":"Fitzroy","Fitzroy, Melbourne":"Fitzroy","Fitzroy, Victoria, AU":"Fitzroy","Glen Iris, Victoria, AU":"Glen Iris","HEIDELBERG":"Heidelberg","HEIDELBERG WEST":"Heidelberg West","Hawthorn east":"Hawthorn East","Hawthorn, Melbourne":"Hawthorn","Ivanhoe (Melbourne)":"Ivanhoe","Kangaroo ground":"Kangaroo Ground'","Kew East, Victoria, AU":"Kew East","Malvern, Melbourne":"Malvern","Maribyrnong, Melbourne":"Maribyrnong","Mcmahons Creek":"McMahons Creek","Melborne":"Melbourne","Melbourne (Eltham)":"Eltham","Melbourne CBD":"Melbourne","Melbourne City":"Melbourne","Melbourne VIC 3000":"Melbourne","Melbourne VIC 3004":"Melbourne","Melbourne Victoria":"Melbourne","Melbourne, Victoria, AU":"Melbourne","Melton South ( STRATHTULLOH)":"Strathtulloh ","Middle Park Melbourne":"Middle Park","Mlebourne":"Melbourne","North Melbourne, Victoria, AU":"North Melbourne","Northcote South":"Northcote","Northcote, Victoria, AU":"Northcote","Oaklands junction ":"Oaklands Junction","Prahran / Toorak ":"Prahran","Richmond, Victoria, AU":"Richmond","Ripponlea (East St Kilda)":"Ripponlea","STRATHTULLOH":"Strathtulloh","STRTHTULLOCH":"Strathtulloh","Saint Kilda Beach":"St Kilda","Saint Kilda":"St Kilda","Saint Kilda East'":"St Kilda East","Saint Kilda West":"St Kilda West","Saint Kilda, Victoria, AU":"St Kilda","South Melbourne, Melbourne":"South Melbourne","South Yarra VIC 3141":"South Yarra","South Yarra, Victoria, AU":"South Yarra","Southbank, Melbourne":"Southbank","Southbank, Victoria, AU":"Southbank","St Kilda / Elwood":"Elwood","St Kilda West Melbourne":"St Kilda West","St Kilda east":"St Kilda East","St kilda":"St Kilda","St kilda ":"St Kilda","St. Andrews":"St Andrews","St. Kilda":"St Kilda","St. Kilda West":"St Kilda West","St.Kilda East":"St Kilda East","StKilda East":"St Kilda East","Surrey Hills, Victoria, AU":"Surrey Hills","Thornbury, Victoria, AU":"Thornbury","Toorak, Melbourne.":"Toorak","Truganina ":"Truganina","Truganina, Victoria, AU":"Truganina","VIC":"Melbourne","Victoria":"Melbourne","Wantirna South VIC 3152":"Wantirna South ","Wantirna south":"Wantirna South ","Wesburn,10minutes to Warburton":"Wesburn","West Melbourne - flagstaff ":"West Melbourne ","Wheelers Hill VIC 3150":"Wheelers Hill ","Yarra Glen, Victoria, AU":"Yarra Glen,","Yarra Valley, Yarra Glen, Healesville":"Yarra Valley","Yellingbo, Yarra Valley":"Yellingbo","brunswick":"Brunswick","clayton":"Clayton","clayton south":"Clayton South","melbourne":"Melbourne","st kilda":"St Kilda","å¢¨çˆ¾æœ¬ Melbourne":"Melbourne"})
#ListingCleanDTypes["city"] = ListingCleanDTypes["city"].replace({"Abbotsford, Melbourne":"Abbotsford","Albert Park. Melbourne":"Albert Park","BRUNSWICK EAST":"Brunswick East,","Brunswick / Melbourne":"Brunswick","Brunswick East, Melbourne":"Brunswick East","Brunswick VIC 3056":"Brunswick","Brunswick West, Melbourne":"Brunswick West","Brunswick west":"Brunswick West","Carlton, Melbourne":"Carlton","Chum Creek/Healesville":"Chum Creek","Coburg (Melbourne)":"Coburg","Collingwood, Melbourne":"Collingwood","Dockland ":"Docklands","Doncaster VIC 3108":"Doncaster","Doncasterï¼Œmelbourne":"Doncaster","East st kilda ":"East St Kilda","Elwood, Melbourne":"Elwood","Elwood, St. Kilda":"Elwood","Elwood, St. Kilda ":"Elwood","Essendon, Victoria, AU":"Essendon","FITZROY":"Fitzroy","Fitzroy, Melbourne":"Fitzroy","Fitzroy, Victoria, AU":"Fitzroy","Glen Iris, Victoria, AU":"Glen Iris","HEIDELBERG":"Heidelberg","HEIDELBERG WEST":"Heidelberg West","Hawthorn east":"Hawthorn East","Hawthorn, Melbourne":"Hawthorn","Ivanhoe (Melbourne)":"Ivanhoe","Kangaroo ground":"Kangaroo Ground'","Kew East, Victoria, AU":"Kew East","Malvern, Melbourne":"Malvern","Maribyrnong, Melbourne":"Maribyrnong","Mcmahons Creek":"McMahons Creek","Melborne":"Melbourne","Melbourne (Eltham)":"Eltham","Melbourne CBD":"Melbourne","Melbourne City":"Melbourne","Melbourne VIC 3000":"Melbourne","Melbourne VIC 3004":"Melbourne","Melbourne Victoria":"Melbourne","Melbourne, Victoria, AU":"Melbourne","Melton South ( STRATHTULLOH)":"Strathtulloh ","Middle Park Melbourne":"Middle Park","Mlebourne":"Melbourne"})
#ListingCleanDTypes["city"] = ListingCleanDTypes["city"].replace({"Abbotsford, Melbourne":"Abbotsford","Albert Park. Melbourne":"Albert Park","BRUNSWICK EAST":"Brunswick East,","Brunswick / Melbourne":"Brunswick","Brunswick East, Melbourne":"Brunswick East","Brunswick VIC 3056":"Brunswick","Brunswick West, Melbourne":"Brunswick West","Brunswick west":"Brunswick West","Carlton, Melbourne":"Carlton","Chum Creek/Healesville":"Chum Creek","Coburg (Melbourne)":"Coburg","Collingwood, Melbourne":"Collingwood","Dockland ":"Docklands","Doncaster VIC 3108":"Doncaster","Doncasterï¼Œmelbourne":"Doncaster","East st kilda ":"East St Kilda","Elwood, Melbourne":"Elwood","Elwood, St. Kilda":"Elwood","Elwood, St. Kilda ":"Elwood","Essendon, Victoria, AU":"Essendon","FITZROY":"Fitzroy","Fitzroy, Melbourne":"Fitzroy","Fitzroy, Victoria, AU":"Fitzroy","Glen Iris, Victoria, AU":"Glen Iris","HEIDELBERG":"Heidelberg","HEIDELBERG WEST":"Heidelberg West","Hawthorn east":"Hawthorn East","Hawthorn, Melbourne":"Hawthorn","Ivanhoe (Melbourne)":"Ivanhoe","Kangaroo ground":"Kangaroo Ground'","Kew East, Victoria, AU":"Kew East","Malvern, Melbourne":"Malvern","Maribyrnong, Melbourne":"Maribyrnong","Mcmahons Creek":"McMahons Creek","Melborne":"Melbourne","Melbourne (Eltham)":"Eltham","Melbourne CBD":"Melbourne","Melbourne City":"Melbourne","Melbourne VIC 3000":"Melbourne","Melbourne VIC 3004":"Melbourne","Melbourne Victoria":"Melbourne","Melbourne, Victoria, AU":"Melbourne","Melton South ( STRATHTULLOH)":"Strathtulloh ","Middle Park Melbourne":"Middle Park","Mlebourne":"Melbourne","North Melbourne, Victoria, AU":"North Melbourne","Northcote South":"Northcote","Northcote, Victoria, AU":"Northcote","Oaklands junction ":"Oaklands Junction","Prahran / Toorak ":"Prahran","Richmond, Victoria, AU":"Richmond","Ripponlea (East St Kilda)":"Ripponlea","STRATHTULLOH":"Strathtulloh","STRTHTULLOCH":"Strathtulloh","Saint Kilda Beach":"St Kilda","Saint Kilda":"St Kilda","Saint Kilda East'":"St Kilda East","Saint Kilda West":"St Kilda West","Saint Kilda, Victoria, AU":"St Kilda","South Melbourne, Melbourne":"South Melbourne","South Yarra VIC 3141":"South Yarra","South Yarra, Victoria, AU":"South Yarra","Southbank, Melbourne":"Southbank","Southbank, Victoria, AU":"Southbank","St Kilda / Elwood":"Elwood","St Kilda West Melbourne":"St Kilda West","St Kilda east":"St Kilda East","St kilda":"St Kilda","St kilda ":"St Kilda","St. Andrews":"St Andrews"})
ListingCleanDTypes["city"] = ListingCleanDTypes["city"].replace({"Abbotsford, Melbourne":"Abbotsford","Albert Park. Melbourne":"Albert Park","BRUNSWICK EAST":"Brunswick East,","Brunswick / Melbourne":"Brunswick","Brunswick East, Melbourne":"Brunswick East","Brunswick VIC 3056":"Brunswick","Brunswick West, Melbourne":"Brunswick West","Brunswick west":"Brunswick West","Carlton, Melbourne":"Carlton","Chum Creek/Healesville":"Chum Creek","Coburg (Melbourne)":"Coburg","Collingwood, Melbourne":"Collingwood","Dockland ":"Docklands","Doncaster VIC 3108":"Doncaster","Doncasterï¼Œmelbourne":"Doncaster","East st kilda ":"East St Kilda","Elwood, Melbourne":"Elwood","Elwood, St. Kilda":"Elwood","Elwood, St. Kilda ":"Elwood","Essendon, Victoria, AU":"Essendon","FITZROY":"Fitzroy","Fitzroy, Melbourne":"Fitzroy","Fitzroy, Victoria, AU":"Fitzroy","Glen Iris, Victoria, AU":"Glen Iris","HEIDELBERG":"Heidelberg","HEIDELBERG WEST":"Heidelberg West","Hawthorn east":"Hawthorn East","Hawthorn, Melbourne":"Hawthorn","Ivanhoe (Melbourne)":"Ivanhoe","Kangaroo ground":"Kangaroo Ground'","Kew East, Victoria, AU":"Kew East","Malvern, Melbourne":"Malvern","Maribyrnong, Melbourne":"Maribyrnong","Mcmahons Creek":"McMahons Creek","Melborne":"Melbourne","Melbourne (Eltham)":"Eltham","Melbourne CBD":"Melbourne","Melbourne City":"Melbourne","Melbourne VIC 3000":"Melbourne","Melbourne VIC 3004":"Melbourne","Melbourne Victoria":"Melbourne","Melbourne, Victoria, AU":"Melbourne","Melton South ( STRATHTULLOH)":"Strathtulloh ","Middle Park Melbourne":"Middle Park","Mlebourne":"Melbourne","North Melbourne, Victoria, AU":"North Melbourne","Northcote South":"Northcote","Northcote, Victoria, AU":"Northcote","Oaklands junction ":"Oaklands Junction","Prahran / Toorak ":"Prahran","Richmond, Victoria, AU":"Richmond","Ripponlea (East St Kilda)":"Ripponlea","STRATHTULLOH":"Strathtulloh","STRTHTULLOCH":"Strathtulloh","Saint Kilda Beach":"St Kilda","Saint Kilda":"St Kilda","Saint Kilda East'":"St Kilda East","Saint Kilda West":"St Kilda West","Saint Kilda, Victoria, AU":"St Kilda","South Melbourne, Melbourne":"South Melbourne","South Yarra VIC 3141":"South Yarra","South Yarra, Victoria, AU":"South Yarra","Southbank, Melbourne":"Southbank","Southbank, Victoria, AU":"Southbank","St Kilda / Elwood":"Elwood","St Kilda West Melbourne":"St Kilda West","St Kilda east":"St Kilda East","St kilda":"St Kilda","St kilda ":"St Kilda","St. Andrews":"St Andrews","St. Kilda":"St Kilda","St. Kilda West":"St Kilda West","St.Kilda East":"St Kilda East","StKilda East":"St Kilda East","Surrey Hills, Victoria, AU":"Surrey Hills","Thornbury, Victoria, AU":"Thornbury","Toorak, Melbourne.":"Toorak","Truganina ":"Truganina","Truganina, Victoria, AU":"Truganina","VIC":"Melbourne","Victoria":"Melbourne","Wantirna South VIC 3152":"Wantirna South ","Wantirna south":"Wantirna South ","Wesburn,10minutes to Warburton":"Wesburn","West Melbourne - flagstaff ":"West Melbourne ","Wheelers Hill VIC 3150":"Wheelers Hill ","Yarra Glen, Victoria, AU":"Yarra Glen,","Yarra Valley, Yarra Glen, Healesville":"Yarra Valley","Yellingbo, Yarra Valley":"Yellingbo","brunswick":"Brunswick","clayton":"Clayton","clayton south":"Clayton South","melbourne":"Melbourne","st kilda":"St Kilda","å¢¨çˆ¾æœ¬ Melbourne":"Melbourne"})
ListingCleanDTypes

,id,scrape_id,last_scraped,host_id,host_name,host_is_superhost,host_total_listings_count,street,neighbourhood_cleansed,city,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,9835,2.020000e+13,7/12/18,33057,Manju,f,1,"Bulleen, VIC, Australia",Manningham,Bulleen,...,365,4,90,9,10,90,10,9,9,0.04
1,10803,2.020000e+13,7/12/18,38901,Lindsay,f,1,"Brunswick East, VIC, Australia",Moreland,Brunswick East,...,213,108,87,9,8,87,9,9,9,1.50
2,12936,2.020000e+13,7/12/18,50121,Frank & Vince,t,17,"St Kilda, VIC, Australia",Port Phillip,St Kilda,...,326,15,94,9,10,94,9,9,9,0.15
3,15246,2.020000e+13,7/12/18,59786,Eleni,f,3,"Thornbury, VIC, Australia",Darebin,Thornbury,...,0,29,94,9,9,94,10,9,9,0.30
4,16760,2.020000e+13,7/12/18,65090,Colin,f,1,"St Kilda East, VIC, Australia",Port Phillip,St Kilda East,...,328,63,90,9,9,90,10,10,9,0.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22890,30592332,2.020000e+13,7/12/18,229206629,Yolanda,f,1,"Carlton, VIC, Australia",Melbourne,Carlton,...,82,0,0,0,0,0,0,0,0,0.00
22891,30592345,2.020000e+13,7/12/18,150660631,Mary And Lizz,f,2,"Melton South, VIC, Australia",Melton,Melton South,...,365,0,0,0,0,0,0,0,0,0.00
22892,30592362,2.020000e+13,7/12/18,130394565,ç³,f,1,"Glen Waverley, VIC, Australia",Monash,Glen Waverley,...,15,0,0,0,0,0,0,0,0,0.00
22893,30592590,2.020000e+13,7/12/18,22630928,Karin,f,17,"Southbank, VIC, Australia",Melbourne,Southbank,...,349,0,0,0,0,0,0,0,0,0.00
22894,30593623,2.020000e+13,7/12/18,38305445,Nica,f,1,"Carlton, VIC, Australia",Melbourne,Carlton,...,68,0,0,0,0,0,0,0,0,0.00

In [267]:
ListingCleanDTypes["city"]

0               Bulleen
1        Brunswick East
2              St Kilda
3             Thornbury
4         St Kilda East
              ...
22890           Carlton
22891      Melton South
22892     Glen Waverley
22893         Southbank
22894           Carlton
Name: city, Length: 22895, dtype: object

In [268]:
blah = ListingCleanDTypes["city"].unique()
blah.sort()
print (blah)

['Abbotsford' 'Aberfeldie' 'Airport West' 'Albanvale' 'Albert Park'
 'Albion' 'Alphington' 'Altona' 'Altona Meadows' 'Altona North' 'Armadale'
 'Armadale North' 'Ascot Vale' 'Ashburton' 'Ashwood' 'Aspendale'
 'Aspendale Gardens' 'Attwood' 'Avondale Heights' 'Badger Creek'
 'Balaclava' 'Balwyn' 'Balwyn North' 'Bangholme' 'Bayles' 'Bayswater'
 'Bayswater North' 'Beaconsfield' 'Beaconsfield Upper' 'Beaumaris'
 'Belgrave' 'Belgrave Heights' 'Bellfield' 'Bentleigh' 'Bentleigh East'
 'Berwick' 'Beveridge' 'Big Pats Creek' 'Black Rock' 'Blackburn'
 'Blackburn North' 'Blackburn South' 'Bonbeach' 'Boronia' 'Botanic Ridge'
 'Box Hill' 'Box Hill North' 'Box Hill South' 'Braybrook' 'Briar Hill'
 'Brighton' 'Brighton East' 'Brighton East, Melbourne' 'Brimbank City'
 'Brisbane' 'Broadmeadows' 'Brookfield' 'Brooklyn' 'Brunswick'
 'Brunswick East' 'Brunswick East,' 'Brunswick West' 'Bulla' 'Bulleen'
 'Bundoora' 'Bunyip' 'Burnley' 'Burnside' 'Burnside Heights' 'Burwood'
 'Burwood East' 'Cairnlea' 'Camberwell' 'Canterbury' 'Cardinia'
 'Cardinia Shire' 'Carlton' 'Carlton North' 'Carlton South' 'Carnegie'
 'Caroline Springs' 'Carrum' 'Carrum Downs' 'Caulfield' 'Caulfield East'
 'Caulfield North' 'Caulfield South' 'Chadstone' 'Chelsea'
 'Chelsea Heights' 'Cheltenham' 'Chirnside Park' 'Christmas Hills'
 'Chum Creek' 'City of Port Phillip' 'Clarinda' 'Clayton' 'Clayton South'
 'Clematis' 'Clifton Hill' 'Clyde North' 'Coburg' 'Coburg North'
 'Cockatoo' 'Coldstream' 'Collingwood' 'Cora Lynn' 'Cottles Bridge'
 'Craigieburn' 'Cranbourne' 'Cranbourne East' 'Cranbourne North'
 'Cranbourne South' 'Cranbourne West' 'Cremorne' 'Croydon' 'Croydon North'
 'Croydon South' 'Dallas' 'Dandenong' 'Dandenong North' 'Dandenong Ranges'
 'Dandenong South' 'Deer Park' 'Delahey' 'Derrimut' 'Diamond Creek'
 'Diggers Rest' 'Dingley Village' 'Dixons Creek' 'Dockland' 'Docklands'
 'Don Valley' 'Doncaster' 'Doncaster East' 'Doncasterï¼ŒMelbourne'
 'Donnybrook' 'Donvale' 'Doreen' 'Doveton' 'Eaglemont' 'East Brunswick'
 'East Doncaster' 'East Melbourne' 'East St. Kilda' 'East Warburton'
 'East st kilda' 'Eden Park' 'Edithvale' 'Elsternwick' 'Eltham'
 'Eltham North' 'Elwood' 'Emerald' 'Endeavour Hills' 'Epping' 'Essendon'
 'Essendon North' 'Essendon West' 'Eumemmerring' 'Eynesbury' 'Fairfield'
 'Fawkner' 'Ferntree Gully' 'Ferny Creek' 'Fitzroy' 'Fitzroy North'
 'Flemington' 'Footscray' 'Forest Hill' 'Frankston' 'Frankston North'
 'Frankston South' 'Gardenvale' 'Garfield North' 'Gembrook' 'Gilderoy'
 'Gladstone Park' 'Gladysdale' 'Glen Huntly' 'Glen Iris' 'Glen Waverley'
 'Glenroy' 'Gowanbrae' 'Greensborough' 'Greenvale' 'Gruyere' 'Guys Hill'
 'Hadfield' 'Hallam' 'Hampton' 'Hampton East' 'Hampton Park' 'Harkaway'
 'Hawthorn' 'Hawthorn East' 'Healesville' 'Heatherton' 'Heathmont'
 'Heidelberg' 'Heidelberg Heights' 'Heidelberg West' 'Highett' 'Hillside'
 'Hoddles Creek' 'Holmesglen' 'Hoppers Crossing' 'Hughesdale' 'Humevale'
 'Huntingdale' 'Hurstbridge' 'Iona' 'Ivanhoe' 'Ivanhoe East' 'Jacana'
 'Kallista' 'Kalorama' 'Kangaroo Ground' "Kangaroo Ground'" 'Kealba'
 'Keilor' 'Keilor Downs' 'Keilor East' 'Keilor Lodge' 'Keilor Park'
 'Kensington' 'Kew' 'Kew East' 'Keysborough' 'Kilsyth' 'Kilsyth South'
 'Kinglake West' 'Kings Park' 'Kingsbury' 'Kingsville' 'Knoxfield'
 'Kooyong' 'Kurunjang' 'Lalor' 'Langwarrin' 'Langwarrin South'
 'Launching Place' 'Laverton' 'Lilydale' 'Little River' 'Lower Plenty'
 'Lynbrook' 'Lyndhurst' 'Lysterfield' 'Macclesfield' 'Macleod' 'Maidstone'
 'Malvern' 'Malvern East' 'Manningham' 'Manor Lakes' 'Maribyrnong'
 'McKinnon' 'McMahons Creek' 'Meadow Heights' 'Melbourne' 'Melton South'
 'Melton West' 'Mentone' 'Menzies Creek' 'Mernda' 'Mickleham'
 'Middle Park' 'Mill Park' 'Millgrove' 'Missing' 'Mitcham' 'Monbulk'
 'Mont Albert' 'Mont Albert North' 'Montmorency' 'Montrose' 'Moonee Ponds'
 'Moorabbin' 'Mooroolbark' 'Mordialloc' 'Moreland City' 'Mount Cottrell'
 'Mount Dandenong' 'Mount Eliza' 'Mount Evelyn' 'Mount Toolebewong'
 'Mount Waverley' 'Mt Dandenong' 'Mt Waverley' 'Mulgrave' 'Murrumbeena'
 'Nar Nar Goon North' 'Narbethong' 'Narre Warren' 'Narre Warren North'
 'Narre Warren South' 'Newport' 'Niddrie' 'Noble Park' 'Noble Park North'
 'North Fitzroy' 'North Melbourne' 'North Warrandyte' 'Northcote'
 'Notting Hill' 'Nunawading' 'Oak Park' 'Oaklands Junction'
 'Oaklands junction' 'Oakleigh' 'Oakleigh East' 'Oakleigh South' 'Officer'
 'Officer South' 'Olinda' 'Ormond' 'Pakenham' 'Pakenham Upper'
 'Panton Hill' 'Park Orchards' 'Parkdale' 'Parkville' 'Pascoe Vale'
 'Pascoe Vale South' 'Patterson Lakes' 'Pearcedale' 'Plumpton'
 'Point Cook' 'Port Melbourne' 'Port Phillip City' 'Powelltown' 'Praharan'
 'Prahran' 'Prahran / Toorak' 'Preston' 'Preston West' 'Princes Hill'
 'Research' 'Reservoir' 'Richmond' 'Ringwood' 'Ringwood East'
 'Ringwood North' 'Ripponlea' 'Rockbank' 'Rosanna' 'Rowville'
 'Roxburgh Park' 'Saint Albans' 'Saint Andrews' 'Saint Helena'
 'Saint Kilda East' 'Sandhurst' 'Sandringham' 'Sassafras' 'Scoresby'
 'Seabrook' 'Seaford' 'Seaholme' 'Seddon' 'Selby' 'Seville' 'Seville East'
 'Sherbrooke' 'Silvan' 'Smiths Gully' 'Somerton VIC 3062'
 'South Kingsville' 'South Melbourne' 'South Morang' 'South Wharf'
 'South Yarra' 'Southbank' 'Southbank Melbourne' 'Spotswood' 'Springvale'
 'Springvale South' 'St Andrews' 'St Kilda' 'St Kilda East'
 'St Kilda West' 'Steels Creek' 'Strathewen' 'Strathmore' 'Strathtulloh'
 'Strathtulloh ' 'Sunbury' 'Sunshine' 'Sunshine North' 'Sunshine West'
 'Surrey Hills' 'Sydenham' 'Tarneit' 'Tarrawarra' 'Taylors Hill' 'Tecoma'
 'Templestowe' 'Templestowe Lower' 'The Basin' 'The Patch' 'Thomastown'
 'Thornbury' 'Tonimbuk' 'Toolangi' 'Toolern Vale' 'Tooradin' 'Toorak'
 'Travancore' 'Tremont' 'Truganina' 'Tullamarine' 'Upper Ferntree Gully'
 'Upwey' 'Vermont' 'Vermont South' 'Viewbank' 'Wandin East' 'Wandin North'
 'Wantirna' 'Wantirna South' 'Wantirna South ' 'Warburton' 'Warneet'
 'Warrandyte' 'Warrandyte South' 'Warranwood' 'Waterways' 'Watsonia'
 'Watsonia North' 'Watsons Creek' 'Wattle Glen' 'Werribee'
 'Werribee South' 'Wesburn' 'West Footscray' 'West Melbourne'
 'West Melbourne - flagstaff' 'Westmeadows' 'Wheelers' 'Wheelers Hill'
 'Wheelers Hill ' 'Whitehorse City' 'Whittlesea' 'Williams Landing'
 'Williamstown' 'Williamstown North' 'Windsor' 'Wollert' 'Wonga Park'
 'Woori Yallock' 'Wyndham City' 'Wyndham Vale' 'Yarra Glen' 'Yarra Glen,'
 'Yarra Junction' 'Yarra Ranges Shire' 'Yarra Valley' 'Yarraville'
 'Yellingbo' 'Yering' 'Yuroke' 'eaglemont' 'å¢¨å°”æœ¬'
 'èŠ’ç‰¹éŸ¦å¼—åˆ©åŒº']

In [ ]:
#Still got issues
#'Brighton East, Melbourne'
#'Dandenong Ranges'
#'Dockland'
#'Doncasterï¼ŒMelbourne'
#'East St. Kilda'
# 'East st kilda'
#Kangaroo Ground'
#'Oaklands junction'
#Prahran / Toorak'
#'Saint Kilda East'
#'Somerton VIC 3062'
#'Southbank Melbourne'
#'Strathtulloh '
#'Wantirna South '
#'West Melbourne - flagstaff'
#'Wheelers Hill '
#'eaglemont'

#Need to delete
'å¢¨å°”æœ¬'
 'èŠ’ç‰¹éŸ¦å¼—åˆ©åŒº'